<div id="about" style="display:none">
    <h2 style="margin-top:0;">Tower Ghost for Destiny
        <br>Manage your gear anywhere</h2>
    <p>
        <strong>Version:
            <span class="version" data-bind="text: tgd.version"></span>
        </strong>
    </p>
    <p>This is a hobby project by <a href="https://github.com/dasilva333/" target="_system">Richard Pinedo</a> and is not financed by or associated with Bungie. All information used on this app is the property of Bungie.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin:0; padding:0;">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="5X265ELN4Y5FU">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> via Paypal to keep this project alive, other options available under the Donate page in Settings.
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <h3>Current Features Supported:</h3>
    <ul>
        <li><a href="http://destinydb.com" target="_system">DestinyDB.com</a> tooltips option now display custom stats: perks, burn, level for armor and weapons</li>
        <li>Loadouts sync across all devices via <a href="http://www.TowerGhostForDestiny.com" target="_system">www.TowerGhostForDestiny.com</a></li>
        <li>Multiple primaries, special, heavy per loadout</li>
        <li>Option to equip an item per bucket in your loadout</li>
        <li>Equipping items & transferring items across characters</li>
        <li>Specify amounts of consumables/materials to transfer</li>
        <li>Filter by Perk Name, Description, Gun Name</li>
        <li>Filter by item progress</li>
        <li>Filter by burn (Kinetic, Arc, Solar, Void)</li>
        <li>Filter by weapon type (Scout, Auto, Hand Cannon, etc...)</li>
        <li>Filter by Tier (Exotic, Legendary, Rare, etc...)</li>
        <li>Auto Refresh Toggle, Custom set seconds</li>
        <li>Inline stat values on the item icons</li>
        <li>Filter by Weapons, Armor or General items</li>
        <li>Supports dual-linked accounts to Xbox and Playstation</li>
        <li>Change emblem dynamically</li>
        <li>Distribute consumables/materials equally across characters (normalize)</li>
        <li>Move all of a consumable/material to a character (consolidate)</li>
    </ul>
    <h3>Latest News and Info</h3>
    <a href="https://twitter.com/TowerGhostApp" target="_system">Follow me on Twitter @TowerGhostApp</a>
    <h3>Support and New Issues:</h3>
    <p><a href="https://github.com/dasilva333/TowerGhostForDestiny" target="_system">Github.com</a> or Contact me on via email <a href="mailto:support@towerghostfordestiny.com">support@towerghostfordestiny.com</a></p>
</div>