<div id="help" style="display:none">
    <h2>Usage Guides</h2>

    <ul>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irno8/feature_sharing_and_viewing_arsenal_online/">Sharing and Viewing Arsenal Online</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3inqkh/feature_transferring_items_with_tower_ghost/">Transferring Items</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irm1y/feature_transfer_methods_available_in_tower_ghost/">Transfer Methods Available</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3imt9m/feature_tower_ghost_for_destiny_tooltips/">Understanding the Tooltips</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irqst/feature_using_the_filters_quickly_and_effectively/">Using the filters quickly and effectively</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3nlua1/feature_using_the_stats_tool_effectively/">Using the stats tool effectively</a></li>
    </ul>

    <h2>Definitions</h2>
    <ul>
        <li>
            <h3>Account Options</h3>
        </li>
        <li>
            <strong>Logout</strong> Logs you out of Bungie.net allowing you to view your arsenal with a different account.</li>
        <li>
            <strong>PSN Login</strong> Opens the login page for the Playstation Network sign in, useful if your password changed.</li>
        <li>
            <strong>Live Login</strong> Opens the login page for the Windows Live sign in, useful if your password changed.</li>
        <li>
            <strong>Use Xbox Account</strong> Only visible if two accounts linked to your Bungie.net account.</li>
        <li>
            <strong>Use Playstation Account</strong> Only visible if two accounts linked to your Bungie.net account.</li>
        <li>
            <h3>Other Options</h3>
        </li>
        <li>
            <strong>Clear Filters</strong> Resets all the filters back to their default state.</li>
        <li>
            <strong>About</strong> Displays information about the app and the author.</li>
        <li>
            <strong>Donate</strong> Paypal link to support the cause and keep the project alive.</li>
        <li>
            <strong>Language</strong> Allows you to set the menu and items to other languages (items only available in certain languages)</li>
        <li>
            <h3>Web Options</h3>
        </li>
        <li>
            <strong>Share URL with friends</strong> Provides a custom link with your username to be able to share your inventory with friends online.</li>
        <li>
            <strong>DestinyStatus Report</strong> Opens a new page that allows you to see the current progress of all your characters.</li>
        <li>
            <h3>UI Options</h3>
        </li>
        <li>
            <strong>Auto Refresh</strong> Allows option for enable/disable and a refresh interval in seconds set by default to 300 (5 minutes).</li>
        <li>
            <strong>DestinyDB Tooltips</strong> Allows for taps or hovers to enable the tooltip, if disabled double tap or double click enables the tooltip.</li>
        <li>
            <strong>DestinyDB Mode</strong> When enabled clicking on an item will open a new tab showing you the full stats of the item.</li>
        <li>
            <strong>Auto Transfer Stacks</strong> When enabled you will not be prompted and the entire stack will be transferred (consumables, materials).</li>
        <li>
            <strong>Auto Pad Height</strong> When enabled the sections will automatically adjust height to align with each other.</li>
        <li>
            <strong>Drag and Drop</strong> When enabled you may drag and drop an item from one section to another, compatible with mobile and desktop..</li>
        <li>
            <h3>Menu Options</h3>
        </li>
        <li>
            <strong>View</strong> Toggle between different views first page is Weapons, second page is Armor, third page is General</li>
        <li>
            <strong>Tier</strong> Filter by the rarity of the item (rare, legendary, exotic) </li>
        <li>
            <strong>Set</strong> Preset collections from various activiies in Destiny for an easy to filter list </li>
        <li>
            <strong>Show Missing Items</strong> When a Set is enabled use this to show you what items you're missing from that set.</li>
        <li>
            <strong>Progress</strong>
            <em>Missing Perks:</em> Items that do not have their perks completely filled.</li>
        <li>
            <strong>Progress</strong>
            <em>Missing XP:</em> Items that have been completely filled with perks but are missing the gold border.</li>
        <li>
            <strong>Progress</strong>
            <em>Maxed:</em> Items that have gold borders only.</li>
        <li>
            <strong>Damage</strong> Filter by burn type, kinetic is the default burn applied to all weapons if it's not arc, void or solar.</li>
        <li>
            <strong>Weapon</strong> Filter by type of weapon, this list will only show types you have in your inventory.</li>
        <li>
            <strong>Name or Perk</strong> Filter by the name of the item, or the name of the perk, or the description in the perk.</li>
        <li>
            <h3>Materials and Consumable Options</h3>
        </li>
        <li>
            <strong>Normalize</strong> Equally distribute consumables/materials across selected characters.</li>
        <li>
            <strong>Consolidate</strong> Move all of a certain consumable/material to a character.</li>
        <li>
            <strong>Don't ask again</strong> Enables Auto Transfer Stacks in Settings bypassing the prompt every time.</li>
        <li>
            <h3>Character Options</h3> More information can be found under help Guides <i>Using the stats tool effectively</i></li>
        <li>
            <strong>Light</strong> Equip the armor and weapons with the most Light points from any character or vault.</li>
        <li>
            <strong>Skill (Int/Disc/Str)</strong> Optimize armor for Tier 5 for that skill, ensure skill doesn't go too much over 300 points.</li>
        <li>
            <strong>Most Points</strong> Optimize armor for the set that contains the most combined points.</li>
        <li>
            <strong>Best Combo</strong> Optimize armor for the set that has the most combined tiers available.</li>
    </ul>
</div>