<ul>
    <li>3.6.5.2 - Updated Help documentation to make sure it's up to date with all the latest information</li>
    <li>3.6.5.1 - Equip with Highest "Best Combo" now allows you to select from multiple builds of the highest tiers</li>
    <li>3.6.3 - Adjusted the portrait layout for certain devices to display one column</li>
    <li>3.6.2 - Auto Updater is now more reliable, please disable and enable to ensure latest version</li>
    <li>3.6.1.4 - Improved updater to provide feedback during download process</li>
    <li>3.6.1.3 - Fixed a problem with tooltips when Auto Updated for desktop platforms</li>
    <li>3.6.1.2 - Improved the refresh for characters so that a notification is displayed during the process</li>
    <li>3.6.1.1 - Added the Refer a Friend reward items to the definitions</li>
    <li>3.6.1 - Fixed the logic for Equip with Highest to also take into consideration the exotic faction class items</li>
    <li>3.6.0.6 - Added the ability to use the search box to filter by light level, use &gt;300 or &lt;300 for filtering by range</li>
    <li>3.6.0.5 - Added the ability to filter by Engrams from the General filter</li>
    <li>3.6.0.4 - Fixed an issue with the with the analytics code</li>
    <li>3.6.0.3 - Updated sets to include No Time to Explain for Exotic Weapons</li>
    <li>3.6.0 - Introducing 4 digit version numbers for auto updates</li>
    <li>3.5.9 - Fixed consumables not working on single tap</li>
    <li>3.5.8 - Fixed characters not loading after the Bungie 11/17 update</li>
    <li>3.5.7 - Fixed the search box resetting the app</li>
    <li>3.5.6 - Fixed the Progress Missing Perks filter for Weapons</li>
    <li>Fixed the logic for equipping exotic items with The Life Exotic perk</li>
    <li>Fixed the inability to delete existing loadouts</li>
    <li>Fixed the tooltips for Swords</li>
    <li>Introducing a new option Auto Updater which allows it to update itself</li>
    <li>Added the ability to save a copy of a loadout as new</li>
    <li>Improved the default number of columns on certain mobile devices so it fits better</li>
    <li>Fixed various links on mobile so that they open in a separate window</li>
    <li>The search box will now search for all perks in an item even if it's not an active perk</li>
    <li>Added an option for Advanced Tooltips to show all perks and extended stats like Aim Assist and Equip Speed</li>
    <li>Updated definitions to include No Time to Explain</li>
    <li>Fixed a problem with artifacts transferring across classes when using Equip with Highest</li>
    <li>Added event items for the Festival of the Lost</li>
    <li>Added a missing icon to any items that doesn't provide a default icon</li>
    <li>Added an option to choose Even or Uneven layouts to make the vault wider</li>
    <li>Added an option to adjust the amount of columns used in the vault</li>
    <li>Added an option to adjust the container width of the entire app</li>
    <li>There is a known issue with transferring class specific weapons using Equip with Highest</li>
    <li>Fixed a problem with setting your Language would not always register</li>
    <li>Fixed a problem with Equip with Highest light not using the Ghost</li>
    <li>Reverted the library used for gestures until I can find a solution compatible with all platforms.</li>
    <li>Ghost and Artifacts now exist under the Armor view and are stored under General</li>
    <li>Improved the Sets filter to automatically stay up to date with Destiny changes</li>
    <li>Ghosts now properly displays all perks available in the tooltips</li>
    <li>Sleeper Simulant is now officially supported by the app</li>
    <li>Added King's Fall weapons and armor Sets to the filter</li>
    <li>Added an Emote section to the app, you may find them under General</li>
    <li>Added Quests to the app, shows under General with % completion and shows quests details in the tooltips</li>
    <li>Improved tooltips to only display the selected perks instead of all the available perks</li>
    <li>Improving Progress Filter so it properly shows items with Missing Perks</li>
    <li>Improved auto refresh functionality so it's stops polling on idle, fixed a memory leak with refreshes</li>
    <li>Equip Gear with Highest Light will now properly handle the equipping of the highest exotics</li>
    <li>Tooltips for emblems now properly displays the background and the icon</li>
    <li>Move pop up now displays the value of your Glimmer consumables when opened</li>
    <li>Damage filter now applies to Weapon burn and Armor Resistance</li>
    <li>Added a new Armor and General filter when set to that View for easier filtering of common items</li>
    <li>Disabled Auto Transfer Stacks for everyone, also added an option to enable it from within the transfer prompt</li>
    <li>Updated Help guide to include new Equip Gear with Highest documentation</li>
    <li>Loadouts are now saved and loaded from the cloud for all desktop platforms</li>
    <li>Improved transfer algorithm to better handle items in the General section</li>
    <li>Fixed the Logout button so it works properly in all mobile platforms</li>
    <li>Various fixes to the tooltips to improve the perks shown, the stats, and various other aspects</li>
    <li>Equip Gear with Highest Light will now display the highest power level prior to equipping it</li>
    <li>Added the Class (Hunter, Titan, Warlock) requirement next to Required Level for tooltips</li>
    <li>Improved transfer algorithm and handling of items with loadouts</li>
    <li>Fixed a problem in the mobile app where it wouldn't load past the green arsenal bar</li>
    <li>Fixed a problem in the desktop addon where it wouldn't load returning an API key error</li>
    <li>Improved loading handler with the Bungie API to expect timed out responses and allow the ability to retry</li>
    <li>Updated database to include Touch of Malice and Black Spindle, newly discovered items cannot be transferred until another update</li>
    <li>Improved tooltips to always display main stat, stats, and perks for all armor and weapons</li>
    <li>Added 'Best Overall' option which will pick the armor with the highest total stats</li>
    <li>Changing the definition of the Progress filters to accommodate for the limitations in the Bungie API</li>
    <li>The "Equip with Highest Light" option will now transfer the best Ghost and Weapons and best armor even in the vault.</li>
    <li>Fixed loadouts so that it attempts to swap if destination is too full for most items</li>
    <li>Added Minimum Required Level indicator to the tooltips</li>
    <li>Stats display view now follows the name plate</li>
    <li>Added the option to adjust the sorting under View</li>
    <li>Adjusted Exotic Armor on tooltips to reflect the perks given to the item</li>
    <li>Fixed Share URL, try it out to share your new exotic collections with friends</li>
    <li>Moved Ghost Shells under General to reflect the layout in game</li>
    <li>Improved handling for Armsday Order items &amp; duplicate shaders</li>
    <li>Power level is now correctly displayed after gaining an artficat</li>
    <li>You can now 'Equip Gear With Highest' Int, Disc, Str and Light automatically, found by clicking on your level</li>
    <li>Updated items and definitions as well as the Exotic Weapons and Armor under Sets</li>
    <li>Improved Help section with Guides and Definitions</li>
    <li>Made various bug fixes and improvements throughout the app</li>
    <li>Added support for materials and consumables to multi-select and loadouts</li>
    <li>Improved transfer handling for items that can't be transferred (Gunsmith weapons)</li>
    <li>You can now cycle through swap candidates by clicking on the icon</li>
    <li>Loadouts and multi-select will not choose a Gunsmith test weapon as a swap candidate</li>
    <li>Added a notification pop up to allow switching accounts easily when dual linked</li>
    <li>Added Power Level to the main nameplate for each character</li>
    <li>Improved Post Master section with support for more items and correct counts</li>
    <li>Emblems are now loaded from locally cached images, they are also properly updated in the app when changed</li>
    <li>Added support for Ghost shells under Armor with perks</li>
    <li>Added support for 2.0 spaces and definitions</li>
    <li>Changed various alert messages to show up as temporary timed notifications</li>
    <li>Improved transfers to reduce the situations one would get 'No slots available' error message</li>
    <li>Added a visual indicator down arrow to the mobile menu to make it clear you can scroll</li>
    <li>Items are now sorted by Tier then Type instead of Tier then Title</li>
    <li>Using the Damage or Weapons filter will now switch to the Weapons view automatically</li>
    <li>Improved the drag and drop by adding an effect to indicate where it will land</li>
    <li>Added the option to enable/disable drag and drop support, disabled by default because of click issues for some platforms</li>
    <li>Added the ability to drag and drop on mobile devices when enabled manually</li>
    <li>Changed the default Auto Pad Height option to be enabled for desktop platforms</li>
    <li>Added drag and drop support to desktop platforms, requires Auto Pad Height option to be enabled</li>
    <li>Characters are now ordered in the order in which they were created</li>
    <li>It is now possible to lock and unlock items from the transfer dialog</li>
    <li>Clicking on the emblem now refreshes everything for that character</li>
    <li>Auto pad height is now applied to the Vault when enabled</li>
    <li>Improved transfers to ensure multiple exotics are not marked as equipped</li>
    <li>It is now possible to initiate a multi-transfer request by clicking on the new icons in the header</li>
    <li>Improved transfers to account for equipped weapon while in game</li>
    <li>Updated Set filter to support more items</li>
    <li>Updated item definitions to include the new Nepal shader</li>
    <li>New donation options have been added to mobile platforms</li>
    <li>Various minor fixes and tweaks that was causing the app to not load properly</li>
    <li>Multi-select is now available for mobile, better support coming in the future for all devices</li>
    <li>Moved location of login links to make them easier to find.</li>
    <li>Clicking on the light level now displays the stats in a new layout</li>
    <li>Desktop platforms now automatically log in on first visit</li>
    <li>Revamped the transfer algorithm to expect changed amounts, missing items, full space, duplicate items and much more.</li>
    <li>Scrolling and navigating the UI on mobile is now much smoother</li>
    <li>Now supports multi-select double tap any weapon/armor to quickly transfer multiple items</li>
    <li>Now works as a standalone app for desktop platforms, visit website's Downloads section for more information.</li>
</ul>