build\addon-sdk-1.17
build/addon-sdk-1.17
build/locale
build\node-modules
build\mobileWorldContent.db
node_modules
platforms
plugins
tags*
bower_components
node_modules
.sass-cache
*.map
*.db
/build/npm-debug.log
/build/.ftppass
/build/nwjs/download/nwjs-v0.12.1-win-x64
/www/data/definitions
/build/tasks/config/CodeSweeper.log
/www/resources/de/definitions.json
/www/resources/de/definitions.json.gz
/www/resources/en/definitions.json.gz
/www/resources/es/definitions.json
/www/resources/es/definitions.json.gz
/www/resources/fr/definitions.json
/www/resources/fr/definitions.json.gz
/www/resources/it/definitions.json
/www/resources/it/definitions.json.gz
/www/resources/ja/definitions.json
/www/resources/ja/definitions.json.gz
/www/resources/pt-br/definitions.json
/www/resources/pt-br/definitions.json.gz
