<div class="panel panel-success" id="loginForm">
	<div class="panel-heading">
		<h2 class="panel-title" data-bind="tk_i18n: 'login_title'">Welcome to Tower Ghost for Destiny!</h2>
	</div>
	<div class="panel-body">
		<p data-bind="tk_i18n: 'login_instructions'">To get started you'll need to log in to your Bungie.net account using this form or the buttons provided below to use an external popup.</p>
		<form class="form-horizontal" data-bind="submit: submitLogin">
		  <fieldset>
			<legend>Login</legend>
				<div class="form-group">
				<label class="col-lg-2 control-label">Platform</label>
				<div class="col-lg-10">
				  <div class="radio">
					<label>
					  <input type="radio" value="1"data-bind="checked: optionsPlatform">
					  Windows Live
					</label>
				  </div>
				  <div class="radio">
					<label>
					  <input type="radio" value="2" data-bind="checked: optionsPlatform">
					  Playstation Network
					</label>
				  </div>
				</div>
			  </div>			
			<div class="form-group">
			  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
			  <div class="col-lg-10">
				<input class="form-control" data-bind="value: inputEmail" placeholder="Email" type="text">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
			  <div class="col-lg-10">
				<input class="form-control" data-bind="value: inputPassword" placeholder="Password" type="password">
				<div class="checkbox">
				  <label>
					<input type="checkbox"> Remember Me
				  </label>
				</div>
			  </div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
				  <button class="btn btn-default" type="reset">Cancel</button>
				  <button class="btn btn-primary" type="submit">Submit</button>
				</div>
            </div>
			<h4>Direct Login</h4>
			<div class="form-group">
				<a data-bind="fastclick:openBungieWindow('Xuid')" style="cursor:pointer; color:#1a1e24" target="_blank" class="btn btn-secondary btn-block"><img src="assets/xbox_live.png" /> Xbox Live</a>
			</div>
			<div class="form-group">
				<a data-bind="fastclick:openBungieWindow('Psnid')" style="cursor:pointer; color:#1a1e24" target="_blank" class="btn btn-secondary btn-block"><img src="assets/playstation.png"> Playstation Network</a>
			</div>
		</form>	
	</div>
</div>
