<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richardpinedo.towerghostfordestiny" versionCode="3864" version="3.8.6.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tower Ghost for Destiny</name>
    <description>
		This app allows you to transfer items between profiles, with various filters.
    </description>
    <author email="dasilva333@github.com" href="https://github.com/dasilva333/TowerGhostForDestiny/">
        Richard Pinedo
    </author>

    <content src="index.html" />
	<preference name="phonegap-version" value="cli-6.0.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="org.apache.cordova.statusbar" />
    <gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.file" />

    <icon src="icon.png" />

    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    
	<icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173-tile.png" />
    
	<gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
	
    <access origin="*" />
</widget>
