// Get some Bootstrap stuff for Sass
@import '../../build/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../../build/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
@import '../../build/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities';
@import '../../build/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities';

// Vars
$black: #000;
$white: #fff;
$grey: #f5f5f5;
$green: #62c462;
$blue-dark: rgb(30, 36, 43);
$level_yellow: rgb(245, 220, 86);

// Globals
body {
	font-size: 1em;
	margin: 0 auto;
	padding-top: 55px;
	background: radial-gradient(transparent, 70%, #000) fixed, rgb(105, 125, 123);
	background: radial-gradient(transparent, 70%, #000) fixed, url('../assets/gradient_green.jpg') fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	width: 100%;
	max-width: 1420px;
}
.alert { margin: 15px 0; }

// Character Columns
#charactersContainer {
	position: relative;

	.profile {
		@include clearfix;

		.character {
			@include clearfix;

			&-box {
				@include make-xs-column(12);
				display: block;
				height: 46px;
				overflow: hidden;
				padding: 0 0 0 50px;
				margin: 5px 0;
				opacity: 1;
				background: rgba($blue-dark, 0.5);
				color: $grey;
				text-decoration: none;
				background-size: cover;
				border-radius: 3px;
				border: 1px solid rgba($black, 0.6);

				div {
					top: 50%;
					margin-top: -18px;
					width: 36px;
					height: 36px;
					line-height: 36px;
				}
				.emblem {
					position: absolute;
					left: 2px;
					background-color: rgba($black, .2);
					background-size: cover;
				}
				.class {
					@include clearfix;
					text-transform: capitalize;
					position: relative;
					width: auto;
					display: block;
					font-size: 24px;
					font-weight: 700;
					font-family: 'Gentium Book Basic', serif;
					text-shadow: 0 0 1px $blue-dark;
				}
				.level {
					position: absolute;
					color: $level_yellow;
					right: 7px;
					width: auto;
					font-weight: 200;
					font-size: 22px;

					&:before {
						content: "\2726";
						display: inline-block;
						position: absolute;
						font-size: 50%;
						left: -10px;
					}
				}
			}
		}
		.inventory {
			@include clearfix;

			&-items {
				@include clearfix;

				&-section {
					@include clearfix;
					margin-bottom: 10px;

					.panel-heading { padding: 0; }
					&-title {
						text-transform: uppercase;
						position: relative;
						color: rgba($white, .8);
						padding: 10px;
						font-size: 14px;

						a {
							display: block;

							&:active,
							&:focus,
							&:hover { text-decoration: none; }
							.label {
								@include label-variant(#2e3338);
								margin-left: 3px;
							}
							&:before {
								content: "\f068";
								font-family: 'FontAwesome';
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								color: #fff;
								font-size: 18px;
								position: absolute;
								top: 50%;
								margin-top: -7px;
								right: 10px;
							}
							&.collapsed {
								&:before { content: "\f067"; }
							}
						}
					}
					.panel-body { padding: 10px; }
				}
				&-subsection {
					&-title {
						margin: 0 0 10px 0;
						border-top: 2px solid #3e444c;
						padding-top: 10px;
						color: rgba($white, .7);
						font-size: 13px;

						&:first-child {
							border-top: none;
							padding-top: 0;
						}
					}
					.itemBucket {
						border-radius: 5px;
						min-height: 125px;
						padding: 5px;
						margin-bottom: 15px;
						background: rgba($white, 0.1);
					}
					.bucket-title {
						font-size: 60%;
						text-transform: uppercase;
						font-style: italic;
						color: rgba($white, .55);
						margin: 0 0 5px;
					}
					.bucket-item {
						padding: 1px;

						a {
							display: block;
							padding-top: 100%;
							position: relative;
						}
						.itemImage {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border: 2px solid white;
						}
						&._complete {
							.itemImage { border-color: #f5dc56; }
						}
					}
				}
			}
		}
		&._Vault {
			.emblem,
			.level { display: none; }
			.character-box { padding-left: 0; }
			.class {
				background: rgba($blue-dark, 0.7);
				height: 46px;
				line-height: 46px;
				margin-top: -23px;
				padding-left: 10px;
			}
			.inventory-items-subsection .itemBucket { min-height: 50px; }
		}
	}
}

// Login
#loginForm {
	margin-top: 20px;
	background: $white;
	color: #000;
	border-color: darken($green, 10%);

	.panel-heading { border-color: darken($green, 10%); }
	.btn-padding {
		max-width: 200px;
		margin: 0 auto;
		display: block;
	}
	.btn {
		text-shadow: none;

		img { margin-right: 5px; max-width: 35px; }
		&:hover { background: rgba($black, 0.05); }
	}
}

// Nav
.navbar-brand {
    font-size: 0.8em;

	img {
		float: left;
		width: 32px;
		position: relative;
		top: -6px;
		margin-right: 4px;
	}
}
.nav > li > a { padding: 15px 10px; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background: rgba($black, 0.3); }
.navbar-nav > li { font-size: 0.9em; }
.navbar { text-shadow: none; }
.navbar-toggle {
	background-color: #f3db55 !important;

	&:hover { background-color: darken(#f3db55, 10%) !important; }
	&:active,
	&:focus { background-color: darken(#f3db55, 20%) !important; }
	.icon-bar { background-color: #383e43 !important; }
}
.dropdown-menu > li > a {
	padding: 3px 20px 3px 12px;

	.icon { margin-right: 8px; }
	.fa {
		width: 1.3em;
		margin-right: 3px;
		text-align: center;
	}
}
// Refresh spinner
.spinner {
	width: 60px;
	margin-right: 5px;

	.input-group-addon {
		color: $input-color;
		background: rgba($white, 0.7);
		border: 1px solid #cccccc;
		text-shadow: none;
	}
	.input-group-btn-vertical {
		position: relative;
		white-space: nowrap;
		width: 1%;
		vertical-align: middle;
		display: table-cell;

		> .btn {
			display: block;
			float: none;
			width: 100%;
			max-width: 100%;
			padding: 9px;
			margin-left: -1px;
			position: relative;
			border-color: #cccccc;
			border-radius: 0;
		}
		> .btn:first-child { border-top-right-radius: 4px; }
		> .btn:last-child {
			margin-top: -2px;
			border-bottom-right-radius: 4px;
		}
		i {
			position: absolute;
			top: 0;
			left: 5px;
		}
	}
}
.quickScrollView {
	@include clearfix;
	position: relative;
	margin-top: 7px;
	left: 5px;
	height: 36px;
	display: none;
}
@media (max-width: 959px) {
	.quickScrollView { display: inline-block; }
}
.mobile-characters {
	display: inline-block;

	&-image {
		cursor: pointer;
		border: 1px solid rgba($black, 0.6);
		border-radius: 4px;
		width: 36px;
		height: 36px;

		&:hover { opacity: 0.7; }
		&.activeProfile { border: 2px solid white; }
	}
}
// 1000px
@media (min-width: 1024px) and (max-width: 1160px) {
	.nav .clear-filters-text,
	.nav .refresh-text { display: none; }
}
@media (min-width: 1024px) {
	.nav .settings-text { display: none; }
	.spinner {
		.input-group-addon { display: none; }
		.form-control { border-radius: 4px 0 0 4px !important; }
	}
}
@media (max-width: 1024px) {
	.spinner {
		width: 100%;
		margin-bottom: 15px;
	}
}

// Forms
.form-control {
	padding: 8px;
}

// Dialogs
.bootstrap-dialog-header {
	.close {
		color: $white;
		opacity: 1;

		&:hover { opacity: 0.5; }
	}
}

// attkIcon
.attkIcon {
	position: relative;

	> div {
		pointer-events: none;
		position: absolute;
		bottom: 2px;
		right: 2px;
		color: #333;
		font-weight: bold;
		font-size: 0.85em;
		line-height: 1;
		padding: 2px 1px 1px 4px;
		border-radius: 3px 0 0 0;
	}
	.None { background-color: $white; }
	.Kinetic { background-color: $white; }
	.Arc { background-color: #85C5EC; }
	.Solar { background-color: #C48A01; }
	.Void { background-color: #B184C5; }
}

// Move popup
.move-popup {
	.item-name {
		color: #000;
		background-color: white;
		margin: 1px;
		padding: 1px;
		padding-left: 3px;
	}
	.attkIcon {
		@include clearfix;
		display: block;
		background: $blue-dark;
		cursor: pointer;
		text-shadow: none;

		div { border-radius: 0; }
		div.icon-banner {
			background-color: rgba(255, 255, 255, .8);
			padding: 1px;
			width: 100%;
			text-align: center;
			text-shadow: none;
			top: 0px;
			bottom: initial;
			left: 0px;
		}
	}
	.locations {
		img {
			margin: 0 auto;
			display: block;
			max-height: 96px;
			width: auto;
			max-width: 100%;
		}
	}
}
.move-popup div.lower-left,
.lower-left {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	bottom: 0px;

	text-shadow: none;
	right: initial;
	padding: 2px;
	padding-top: 3px;
	left: 0px;
	opacity: 0.9;
}
#move-popup.desktop {
	position: relative;
	// width: 380px !important;
}
.desktop .move-popup {
	position: absolute;
	z-index: 2;
	top: -75px;
	width: 380px;
	height: 75px;
	background-color: rgba(21, 13, 13, 1);
	cursor: default;
}

// Label Counts
.label._count {
	@include label-variant( darken(#2e3338, 5%) );
	top: -2px;
	padding: .25em .5em .35em;
	position: relative;
	margin-left: 1px;
}

// Grid
.no-gutter [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}