<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<!-- Dash Navbar Top 
Available versions: dnl-visible, dnl-hidden -->
<nav class="navbar navbar-fixed-top dash-navbar-top dnl-hidden">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dnt-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-v"></span>
      </button>
      <button class="dnl-btn-toggle">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="#">TGD <span>2.8.0</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="dnt-collapse">
      <!-- This dropdown is for avatar -->
      <ul class="nav navbar-nav navbar-right navbar-avatar" data-bind="visible: bungie.users().length > 0">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i></a>
          <ul class="dropdown-menu" role="menu">
			<li data-bind="visible: bungie.hasBothAccounts, css: bungie.activeUser() && bungie.activeUser().type == 1 ? 'active' : ''"><a href="#" data-bind="click: bungie.useXboxAccount, tk_i18n: 'menu_usexbox'">Use Xbox Account</a></li>
            <li data-bind="visible: bungie.hasBothAccounts, css: bungie.activeUser() && bungie.activeUser().type == 2 ? 'active' : ''"><a href="#" data-bind="click: bungie.usePlaystationAccount, tk_i18n: 'menu_useps'">Use Playstation Account</a></li>
            <li><a href="#" data-bind="click: bungie.logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right dnt-navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn"><span class="fa fa-search"></span></button>
      </form>  
      <!-- This dropdown is for normal links 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="fa fa-angle-down"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Link 1 <span>LOL</span></a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
      </ul> -->       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!-- /.navbar -->


<!-- Dash Navbar Left 
Available versions: dnl-visible, dnl-hidden -->
<div class="dash-navbar-left dnl-visible" data-bind="template: { afterRender: componentLoaded() }">
  <p class="dnl-nav-title">Nav</p>
  <ul class="dnl-nav">
	<li>
      <a href="#home">
        <span class="glyphicon dnl-link-icon fa fa-home"></span>
        <span class="dnl-link-text">Home</span>
      </a>
    </li>
    <li>
      <a href="#help">
        <span class="glyphicon dnl-link-icon fa fa-question"></span>
        <span class="dnl-link-text">Help</span>
      </a>
    </li>
    <li>
      <a href="#about">
        <span class="glyphicon dnl-link-icon fa fa-info"></span>
        <span class="dnl-link-text">About</span>
      </a>
    </li>
    <li>
      <a href="#donate">
        <span class="glyphicon dnl-link-icon fa fa-credit-card"></span>
        <span class="dnl-link-text">Donate</span>
      </a>
    </li>
	<li>
      <a href="#settings">
        <span class="dnl-link-icon glyphicon glyphicon-wrench"></span>
        <span class="dnl-link-text">Settings</span>
      </a>
    </li>
  </ul>
  <p class="dnl-nav-title">Filters</p>
  <ul class="dnl-nav">
    <li>
      <a class="collapsed" data-toggle="collapse" href="#collapseView" aria-expanded="false" aria-controls="collapseView">
        <span class="fa fa-image dnl-link-icon"></span>
        <span class="dnl-link-text">View</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseView">
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">All</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Weapons</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Armor</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">General</span>
          </a>
        </li>
      </ul>
    </li>	
	<li>
      <a class="collapsed" data-toggle="collapse" href="#collapseLevelOne" aria-expanded="false" aria-controls="collapseLevelOne">
        <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
        <span class="dnl-link-text">Sets</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseLevelOne">
        <li>
          <a class="collapsed" data-toggle="collapse" href="#collpaseExotics" aria-expanded="false" aria-controls="collpaseExotics">
            <span class="fa fa-level-down dnl-link-icon"></span>
            <span class="dnl-link-text">Exotic Weapons and Armor</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level two -->
          <ul class="dnl-sub-two collapse" id="collpaseExotics">
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Exotic Armor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Exotic Weapons</span>
              </a>
            </li>
          </ul>
        </li>
		<li>
          <a class="collapsed" data-toggle="collapse" href="#collpaseRAID" aria-expanded="false" aria-controls="collpaseRAID">
            <span class="fa fa-level-down dnl-link-icon"></span>
            <span class="dnl-link-text">Raid Weapons and Armor</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level two -->
          <ul class="dnl-sub-two collapse" id="collpaseRAID">
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Crota's End Armor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Crota's End Weapons</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Vault of Glass Armor</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Vault of Glass Weapons</span>
              </a>
            </li>
          </ul>
        </li>
		<li>
          <a class="collapsed" data-toggle="collapse" href="#collpaseHOW" aria-expanded="false" aria-controls="collpaseHOW">
            <span class="fa fa-level-down dnl-link-icon"></span>
            <span class="dnl-link-text">House of Wolves Items</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level two -->
          <ul class="dnl-sub-two collapse" id="collpaseHOW">
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Trial of Osiris Armor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Trial of Osiris Weapons</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Prison of Elders Armor</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Prison of Elders Weapons</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Queen's Wrath Armor</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Queen's Wrath Weapons</span>
              </a>
            </li>
          </ul>
        </li>
		<li>
          <a class="collapsed" data-toggle="collapse" href="#collapseFactions" aria-expanded="false" aria-controls="collapseFactions">
            <span class="fa fa-level-down dnl-link-icon"></span>
            <span class="dnl-link-text">Faction Items</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level two -->
          <ul class="dnl-sub-two collapse" id="collapseFactions">
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">New Monarcy Armor</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">New Monarcy Weapons</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Future War Cult Armor</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Future War Cult Weapons</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Dead Orbit Armor</span>
              </a>
            </li>
			<li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Dead Orbit Weapons</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
	<li>
      <a class="collapsed" data-toggle="collapse" href="#collapseTier" aria-expanded="false" aria-controls="collapseTier">
        <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
        <span class="dnl-link-text">Tier</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseTier">
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">All</span>
          </a>
        </li>
      </ul>
    </li>
	<li>
      <a class="collapsed" data-toggle="collapse" href="#collapseProgress" aria-expanded="false" aria-controls="collapseProgress">
        <span class="glyphicon glyphicon-stats dnl-link-icon"></span>
        <span class="dnl-link-text">Progress</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseProgress">
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">All</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Missing XP</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Full XP</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Maxed</span>
          </a>
        </li>
      </ul>
    </li>
	<li>
      <a class="collapsed" data-toggle="collapse" href="#collapseDamage" aria-expanded="false" aria-controls="collapseDamage">
        <span class="fa fa-fire dnl-link-icon"></span>
        <span class="dnl-link-text">Damage</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseDamage">
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Arc</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Solar</span>
          </a>
        </li>
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Void</span>
          </a>
        </li>
      </ul>
    </li>
	<li>
      <a class="collapsed" data-toggle="collapse" href="#collapseWeapons" aria-expanded="false" aria-controls="collapseWeapons">
        <span class="fa fa-fire dnl-link-icon"></span>
        <span class="dnl-link-text">Weapon</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseWeapons">
		<li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">All</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <p class="dnl-nav-title">Tools</p>
  <ul class="dnl-nav">
    <li>
      <a class="collapsed" data-toggle="collapse" href="#collpaseLoadouts" aria-expanded="false" aria-controls="collpaseLoadouts">
        <span class="fa fa-dot-circle-o dnl-link-icon"></span>
        <span class="dnl-link-text">Loadouts</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collpaseLoadouts">
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">VOG</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Crota</span>
          </a>
        </li>
      </ul>
    </li>      
    <li>
      <a href="#">
        <span class="fa fa-share-alt dnl-link-icon"></span>
        <span class="dnl-link-text">Share URL with friends</span>
      </a>
    </li>
	<li>
      <a href="#">
        <span class="fa fa-search dnl-link-icon"></span>
        <span class="dnl-link-text">DestinyDB.com Lookup Mode</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-external-link dnl-link-icon"></span>
        <span class="dnl-link-text">DestinyStatus.com Profile</span>
      </a>
    </li>
	<li>
      <a href="#">
        <span class="fa fa-external-link dnl-link-icon"></span>
        <span class="dnl-link-text">DestinyTracker.com Profile</span>
      </a>
    </li>
  </ul>
</div> <!-- /.dash-navbar-left -->