<div class="container" id="charactersContainerParent" data-bind="style: { width: ccWidth }">
    <div class="container-fluid" id="charactersContainer" style="display:none" data-bind="visible: orderedCharacters().length > 0, moveItem: true">
        <div class="row" data-bind="foreach: { data: orderedCharacters, as: 'character' }">
            <div class="profile" data-bind="css: $parent.columnMode(character), attr:{id: character.id}">
                <div class="character">
                    <div class="character-box" data-bind="style: { backgroundImage: background }, css: character.id, refreshableEmblem: true, fastclick: character.refresh, clickBubble: false">
                        <img class="emblem" data-bind="itemImageHandler: icon">
                        <div class="class" data-bind="text: classType"></div>
                        <div class="level" style="cursor:pointer;" data-bind="click: toggleStats, clickBubble: false, visible: level() != ''">
                            <div class="light" data-bind="text: level"></div>
                            <div class="power" data-bind="text: character.powerLevel"></div>
                        </div>
                        <div class="progression" data-bind="visible: id != 'Vault', style: { width: character.percentToNextLevel() + '%' }">&nbsp;</div>
                        <div class="row stats" data-bind="with: stats, visible: statsShowing">
                            <div class="col-xs-11 text-left">
                                <div>
                                    <span class="font-bold" data-bind="text: $root.activeText().armor">Armor</span>
                                    <span data-bind="text: STAT_ARMOR.value"></span>
                                </div>
                                <div>
                                    <span class="font-bold" data-bind="text: $root.activeText().agility">Agility</span>
                                    <span data-bind="text: STAT_AGILITY.value"></span>
                                </div>
                                <div>
                                    <span class="font-bold" data-bind="text: $root.activeText().recovery">Recovery</span>
                                    <span data-bind="text: STAT_RECOVERY.value"></span>
                                </div>
                            </div>
                            <div class="col-xs-13 text-right">
                                <!-- ko foreach: { data: tgd.DestinyArmorStats, as: 'stat' } -->
                                <div>
                                    <span class="font-bold" data-bind="text: stat.statName.toLowerCase().substring(0,3)"></span>
                                    <span data-bind="text: character.equippedStats()[stat.statName]"></span>
									<span data-bind="css: 'stat_' + stat.statHash" class="fa skill"></span>
                                    <span data-bind="text: 'T' + Math.floor(character.equippedStats()[stat.statName] / tgd.DestinySkillTier)"></span>
                                </div>
                                <!--/ko  -->
                            </div>
                            <div class="col-xs-24 text-center" style="padding-top:1px; padding-bottom:1px;">
                                <span class="font-bold">Tier</span>:
                                <span data-bind="text: character.equippedTier" title="Effective Tier / Theoretical Tier"></span>
                                (<span data-bind="text: character.sumCSP" title="Combined Stat Points for Armor Equipped"></span>/<span data-bind="text: character.tierCSP" title="Stat Points needed to reach Theoretical Tier"></span>/<span data-bind="text: character.potentialCSP" title="Stat Points the Equipped gear can reach if infused to max light"></span>)
                            </div>
                            <div class="col-xs-24 text-center">
                                <span data-bind="text: $root.activeText().gear_with_highest">Equip Armor With Most:</span>
                                <br>
                                <a data-bind="text: $root.activeText().light, click: character.equipHighest('Light'), clickBubble: false" class="btn btn-default">Light</a>
                                <a data-bind="text: $root.activeText().inte, click: character.equipHighest('Intellect'), clickBubble: false" class="btn btn-default">Int</a>
                                <a data-bind="text: $root.activeText().disc, click: character.equipHighest('Discipline'), clickBubble: false" class="btn btn-default">Disc</a>
                                <a data-bind="text: $root.activeText().str, click: character.equipHighest('Strength'), clickBubble: false" class="btn btn-default">Str</a>
                                <hr style="margin:3px; padding:6px;">
								<div>
									<a data-bind="text: $root.activeText().most_points, click: character.equipHighest('All'), clickBubble: false" class="btn btn-default btn-sm col-xs-12">Points</a>
									<a data-bind="click: character.equipHighest('Best'), clickBubble: false" class="btn btn-default btn-sm col-xs-12">BC-Full</a>
									<a data-bind="click: character.equipHighest('OptimizedBest'), clickBubble: false" class="btn btn-default btn-sm col-xs-12">BC-Quick</a>
									<a data-bind="click: character.equipHighest('MaxLight'), clickBubble: false" class="btn btn-default btn-sm col-xs-12">MLMT</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inventory">
                    <div class="items" data-type="item">
                        <!-- ko foreach: { data: $root.activeLayouts, as: 'layout' } -->
                        <!-- ko if: layout.isVisible(character)() -->
                        <div>
                            <div class="title2" data-bind="visible: $root.searchKeyword() == '', refreshableSection: true">
                                <strong data-bind="text: layout.titleText(character)"></strong>
                                <span data-bind="html: layout.countText(character)"></span>
                                <div class="titleRefresh" data-bind="visible: isMobile">
                                    <!-- ko if: (layout.headerText == 'inventory_weapons' || layout.headerText == 'inventory_armor') -->
                                    <i title="Click to select multiple items to transfer in one go." class="fa fa-clone" data-bind="fastclick: $root.startMultiSelect, clickBubble: false"></i>
                                    <!--/ko  -->
                                    <i title="Click to refresh this area" class="fa fa-refresh text-success" data-bind="fastclick: character.reloadBucket, clickBubble: false"></i>
                                </div>
                            </div>
                            <div class="sections" data-bind="template: { name: $root.sectionsTemplate, foreach: layout.activeBucketTypes, as: 'bucketType' }"></div>
                        </div>
                        <!--/ko  -->
                        <!--/ko  -->
                    </div>
                </div>
            </div>
            <!-- ko if: $index() == 1 -->
            <div class="clearfix hidden-xs visibile-sm-block hidden-md hidden-lg" data-bind="visible: tgd.defaults.smColumn == $root.smColumn()"></div>
            <!--/ko  -->
            <!-- ko if: $index() == 2 -->
            <div class="clearfix hidden-xs hidden-sm visibile-md-block hidden-lg" data-bind="visible: tgd.defaults.mdColumn == $root.mdColumn()"></div>
            <!--/ko  -->
        </div>
    </div>
</div>