<div class="container" id="charactersContainerParent" data-bind="style: { width: ccWidth }">
    <div class="container-fluid" id="charactersContainer" style="display:none" data-bind="visible: orderedCharacters().length > 0, moveItem: true">
        <div class="row" data-bind="foreach: { data: orderedCharacters, as: 'character' }">
            <div class="profile" data-bind="css: $parent.columnMode(character), attr:{id: character.id}">
                <div class="character">
                    <div class="character-box" data-bind="itemBgImageHandler: background, css: character.id, refreshableEmblem: true, fastclick: character.refresh, clickBubble: false">
                        <img class="emblem" data-bind="itemImageHandler: icon, fastclick: toggleStats, clickBubble: false, css: character.statsToolClass">
                        <div class="class" data-bind="text: classType"></div>
                        <div class="level" data-bind="visible: level() != ''">
                            <div class="light" data-bind="text: level"></div>
                            <div class="power" data-bind="text: character.powerLevel"></div>
                        </div>
                        <div class="progression" data-bind="visible: id != 'Vault', style: { width: character.percentToNextLevel() + '%' }, attr: { title: character.percentToNextLevel() + '% to next Light Level' }">&nbsp;</div>
                    </div>
                    <div>
                        <div class="row stats" data-bind="with: stats, visible: statsShowing">
                            <div class="btn-group col-xs-24">
								<a data-bind="fastclick: character.setPane('info'), clickBubble: false, css: character.statsPane() == 'info' ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-sm col-xs-8 text-center"><i class="fa fa-info"></i> Info</a>
								<a data-bind="fastclick: character.setPane('tools'), clickBubble: false, css: character.statsPane() == 'tools' ? 'btn-primary' : 'btn-default'"class="btn btn-default btn-sm col-xs-8 text-center"><i class="fa fa-wrench"></i> Tools</a>
								<a data-bind="fastclick: character.setPane('more'), clickBubble: false, css: character.statsPane() == 'more' ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-sm col-xs-8 text-center"><i class="fa fa-bars"></i> Loadouts</a>
							</div>
							<div data-bind="if: character.statsPane() == 'info' && character.statsShowing()">
								<div class="col-xs-24 text-center" style="border-bottom:1px dashed white; padding:5px 0px; ">
									<div data-bind="foreach: { data: tgd.DestinyArmorStats, as: 'stat' }" class="skillStatRow">
										<div class="row">
											<span class="col-xs-9 text-right font-bold" data-bind="text: stat.statName"></span>
											<span class="col-xs-4" data-bind="text: character.equippedStats()[stat.statName]"></span>
											<span data-bind="css: 'stat_' + stat.statHash" class="col-xs-2 fa skill"></span>
											<span class="col-xs-3" data-bind="text: 'T' + Math.floor(character.equippedStats()[stat.statName] / tgd.DestinySkillTier)"></span>
											<span class="col-xs-6 text-left" style="white-space:nowrap;">(<span data-bind="text: character.getCooldown(Math.floor(character.equippedStats()[stat.statName] / tgd.DestinySkillTier), stat.statHash)"></span>)</span>
										</div>
									</div>
								</div>
								<div class="col-xs-24" style="padding:7px">
									<div class="col-xs-9 text-left font-smaller-1 skillStatRow">
										<div class="row" style="padding-top: 0px;">
											<div class="font-bold col-xs-18 text-right"><span data-bind="text: $root.activeText().armor"></span>: </div>
											<div class="col-xs-6" data-bind="text: STAT_ARMOR.value"></div>
										</div>
										<div class="row">
											<div class="font-bold col-xs-18 text-right"><span data-bind="text: $root.activeText().agility"></span>: </div>
											<div class="col-xs-6" data-bind="text: STAT_AGILITY.value"></div>
										</div>
										<div class="row">
											<div class="font-bold col-xs-18 text-right"><span data-bind="text: $root.activeText().recovery"></span>: </div>
											<div class="col-xs-6" data-bind="text: STAT_RECOVERY.value"></div>
										</div>
                                        
									</div>
									<div class="col-xs-14 text-left font-smaller-1">
										<div title="Current tier possible for Armor Equipped">
											<div class="font-bold col-xs-22 text-right">Equipped Tier: </div> 
											<div class="col-xs-2" data-bind="text: character.equippedTier"></div>
										</div>
										<div title="Combined Stat Points for Armor Equipped">
											<div class="font-bold col-xs-22 text-right">Equipped CSP: </div> 
											<div class="col-xs-2" data-bind="text: character.sumCSP"></div>
										</div>
										<div title="Potential Tier possible with the current Armor Equipped">
											<div class="font-bold col-xs-22 text-right">Potential Tier: </div> 
											<div class="col-xs-2" data-bind="text: character.potentialTier"></div>
										</div>
										<div title="Stat Points needed to reach Potential Tier">
											<div class="font-bold col-xs-22 text-right">Points Needed: </div> 
											<div class="col-xs-2" data-bind="text: (character.potentialTier() * tgd.DestinySkillTier)"></div>
										</div>
										<div title="Stat Points the Equipped armor can reach if infused to max light">
											<div class="font-bold col-xs-22 text-right">CSP at <span data-bind="text: tgd.DestinyLightCap"></span>: </div> 
											<div class="col-xs-2" data-bind="text: character.potentialCSP"></div>
										</div>
									</div>
								</div>
							</div>
							<div data-bind="if: character.statsPane() == 'tools' && character.statsShowing()">
								<div class="col-xs-24 text-center">
									<span class="font-bold col-xs-24 statsToolTitle">Equip Gear With Highest 
										<button data-bind="tooltip: true, fastclick: function(){ return false; }, clickBubble: false" type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-trigger="click hover space" data-placement="auto" title="Pulls gear from anywhere in your account to equip with the highest stat desirable."><i class="fa fa-question-circle"></i></button>
									</span>
									<div class="btn-group col-xs-24">
										<a title="Automatically equip gear with the most Intellect" data-bind="text: $root.activeText().inte, fastclick: character.equipHighest('Intellect'), clickBubble: false" class="btn btn-default btn-sm col-xs-8">Int</a>
										<a title="Automatically equip gear with the most Discipline" data-bind="text: $root.activeText().disc, fastclick: character.equipHighest('Discipline'), clickBubble: false" class="btn btn-default btn-sm col-xs-8">Disc</a>
										<a title="Automatically equip gear with the most Strength" data-bind="text: $root.activeText().str, fastclick: character.equipHighest('Strength'), clickBubble: false" class="btn btn-default btn-sm col-xs-8">Str</a>
										<a title="Automatically equip gear with the highest Light Level" data-bind="fastclick: character.equipHighest('Light'), clickBubble: false" class="btn btn-default btn-sm col-xs-12"><span data-bind="text: $root.activeText().light"></span></a>
										<a title="Automatically equip gear with the highest Combined Stat Points" data-bind="text: $root.activeText().most_points, fastclick: character.equipHighest('All'), clickBubble: false" class="btn btn-default btn-sm col-xs-12">Points</a>
									</div>
									<span class="font-bold col-xs-24 statsToolTitle">
										Armor Set Builder 
										<button data-bind="tooltip: true, fastclick: function(){ return false; }, clickBubble: false" type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-trigger="click hover space" data-placement="auto" title="<strong>Top 3</strong>-Report of stat combinations available for the top 3 items by points.<br><strong>Character</strong>-Report of stat combinations available based on all the items in that character.<br><strong>Custom</strong>-Explore all armor combinations possible<br><strong>T12 Build</strong>-Explore Tier-12 combinations possible"><i class="fa fa-question-circle"></i></button>
									</span>
									<div class="btn-group col-xs-24">
										<a title="Analyzes the top 3 armor pieces sorted by points in your inventory to find the highest tier sets you can currently create" data-bind="fastclick: character.equipHighest('OptimizedBest'), clickBubble: false" class="btn btn-default btn-sm col-xs-12 text-center">Top 3</a>
										<a title="Analyzes all your armor in your inventory to find the highest tier sets you can currently create" data-bind="fastclick: character.equipHighest('Best'), clickBubble: false" class="btn btn-default btn-sm col-xs-12 text-center">Character</a>
										<a title="Allows you to explore armor sets to find the highest tier sets you can currently create" data-bind="fastclick: character.equipHighest('Custom'), clickBubble: false" class="btn btn-default btn-sm col-xs-12 text-center">Custom</a>
										<a title="Allows you to explore armor sets available that reach the max tier possible in game" data-bind="fastclick: character.equipHighest('MaxLight'), clickBubble: false, text: 'T' + tgd.maxTierPossible + ' Build'" class="btn btn-default btn-sm col-xs-12 text-center"></a>
									</div>
									<span class="font-bold col-xs-24 statsToolTitle">
										Include All Armor
										<button data-bind="tooltip: true, fastclick: function(){ return false; }, clickBubble: false" type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-trigger="click hover space" data-placement="auto" title="Include all valid items account wide from all characters and vault"><i class="fa fa-question-circle"></i></button>
									</span>
									<div class="text-left col-xs-24 font-smaller-1 btn-group" data-bind="clickBubble: false">
										<!-- ko foreach: { data: tgd.DestinyArmorPieces, as: 'armorType' } -->
											<input type="button" class="btn btn-sm" data-bind="fastclick: $root.setGlobalItems.bind(armorType), css: $root.globalItems().indexOf(armorType) > -1 ? 'btn-primary':'btn-default', value: armorType, clickBubble: false">
										<!--/ko  -->
									</div>
								</div>
							</div>
							<div data-bind="if: character.statsPane() == 'more' && character.statsShowing(), clickBubble: false">
								<span class="font-bold col-xs-24 statsToolTitle text-center" data-bind="visible: character.loadouts().length > 0" style="display:none;">
									Loadouts (<span data-bind="text: character.loadouts().length"></span>)
								</span>
                                <div class="btn-group col-xs-24">
									<input class="form-control" name="filter" autocomplete="off" data-bind="valueUpdate: 'input', value: character.loadoutsFilter, attr: { placeholder: 'Filter Loadouts' }, clickBubble: false" type="text">
								</div>
								<div class="btn-group col-xs-24">
									<ul data-bind="foreach: { data: character.loadouts, as: 'loadout' }" class="list-group text-left" style="margin-bottom:0; max-height: 125px; overflow-y: scroll;">
										<li class="list-group-item" style="padding:2px" data-bind="visible: _.isEmpty(character.loadoutsFilter()) || loadout.name().toLowerCase().indexOf(character.loadoutsFilter().toLowerCase()) > -1">
											<span class="font-smaller-2">
												<input type="button" class="btn btn-sm btn-default" value="View" data-bind="fastclick: setActive, clickBubble: false">
												<span data-bind="text: loadout.name"></span>
											</span>
										</li>
									</ul>
								</div>
								<span class="font-bold col-xs-24 statsToolTitle text-center">
									Optimize Equipped Gear 
									<button data-bind="tooltip: true, fastclick: function(){ return false; }, clickBubble: false" type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-trigger="click hover space" data-placement="bottom" title="<strong>Refresh</strong> Lists the stat combinations available for the currently equipped gear.<br><strong>Minus Other</strong> Lists the stat combinations available for your currently equipped gear and all your artifacts, ghosts and class items."><i class="fa fa-question-circle"></i></button>
								</span>
								<div class="btn-group col-xs-24">
									<a title="Analyzes the equipped gear for the best stat distributions" data-bind="fastclick: character.optimizeGear('Equipped'), clickBubble: false" class="btn btn-default btn-sm col-xs-12 text-center">Refresh</a>
									<a title="Analyzes the equipped gear minus other armor for the best stat distributions" data-bind="fastclick: character.optimizeGear('Minus Other'), clickBubble: false" class="btn btn-default btn-sm col-xs-12 text-center">Minus Other</a>									
								</div>
								<div class="btn-group col-xs-24" data-bind="with: character.activeBestSets">
									<ul data-bind="foreach: { data: $data, as: 'combo' }" class="list-group text-left" style="margin-bottom:0;">
										<li class="list-group-item" style="padding: 2px">
											<span class="font-smaller-2">
												<input type="button" class="btn btn-sm btn-default" value="View" data-bind="fastclick: character.viewCombo(combo), clickBubble: false">
												T<span data-bind="text: Math.floor(combo.score)"></span>
												<span data-bind="text: combo.statTiers.replace(/<br>/g,' / ')"></span>
											</span>
										</li>
									</ul>
								</div>
							</div>
                        </div>                    
                    </div>
                </div>
                <div class="inventory">
                    <div class="items" data-type="item">
                        <!-- ko foreach: { data: $root.allLayouts, as: 'layout' } -->
                        <div data-bind="visible: layout.isVisible(character) && ($root.activeView() == layout.id || $root.activeView() == '0')">
                            <div class="title2" data-bind="visible: $root.searchKeyword() == '', refreshableSection: true">
                                <strong data-bind="text: layout.titleText(character)"></strong>
                                <span data-bind="html: layout.countText(character)"></span>
                                <div class="titleRefresh" data-bind="visible: isMobile">
                                    <!-- ko if: (layout.headerText == 'inventory_weapons' || layout.headerText == 'inventory_armor') -->
                                    <i title="Click to select multiple items to transfer in one go." class="fa fa-clone" data-bind="fastclick: $root.startMultiSelect, clickBubble: false"></i>
                                    <!--/ko  -->
                                    <i title="Click to refresh this area" class="fa fa-refresh text-success" data-bind="fastclick: character.reloadBucket, clickBubble: false"></i>
                                </div>
                            </div>
                            <div class="sections" data-bind="template: { name: $root.sectionsTemplate, foreach: layout.activeBucketTypes, as: 'bucketType' }"></div>
                        </div>
                        <!--/ko  -->
                    </div>
                </div>
            </div>
            <!-- ko if: $index() == 1 -->
            <div class="clearfix hidden-xs visibile-sm-block hidden-md hidden-lg" data-bind="visible: tgd.defaults.smColumn == $root.smColumn()"></div>
            <!--/ko  -->
            <!-- ko if: $index() == 2 -->
            <div class="clearfix hidden-xs hidden-sm visibile-md-block hidden-lg" data-bind="visible: tgd.defaults.mdColumn == $root.mdColumn()"></div>
            <!--/ko  -->
        </div>
    </div>
</div>