<div id="loadout-create" data-bind="visible: loadoutMode, if: loadoutMode" style="display:none;">
    <div class="content" data-bind="with: activeLoadout">
        <div id="loadout-options" class="row">
            <div class="col-xs-12" data-bind="visible: $parent.dynamicMode() == false">
                <input id="loadout-name" type="search" data-bind="value: name" placeholder="Loadout Name...">
            </div>
            <div class="col-xs-12">
                <controls data-bind="visible: $parent.dynamicMode() == false">
                    <span data-bind="fastclick: save, text: $root.activeText().loadouts_save">Save</span>
                    <span data-bind="fastclick: saveNew, text: $root.activeText().loadouts_save_new" style="white-space:nowrap;">Save As</span>
                    <span data-bind="fastclick: remove, text: $root.activeText().loadouts_delete">Delete</span>
                </controls>
				<span data-bind="fastclick: compareLoadout">Compare</span>
                <span data-bind="fastclick: $root.cancelLoadout, text: $root.activeText().close_msg">Close</span>
            </div>
            <div class="col-xs-24">
                <!-- ko foreach: { data: $root.orderedCharacters, as: 'character' } -->
                <div class="move-button move-loadout" data-bind="attr: { title: uniqueName }, click: function(){ $parent.transfer(character.id) }, style: { backgroundImage: iconBG }">
                    <div class="lower-left" data-bind="text: classLetter"></div>
                </div>
                <!--/ko  -->
            </div>
            <div id="loadout-error" class="col-xs-24 label label-danger" data-bind="visible: items().length == 0, text: $root.activeText().loadouts_instructions + (isMobile ? $root.activeText().loadouts_mobile:$root.activeText().loadouts_desktop) + $root.activeText().loadouts_instructions_contd"></div>
        </div>
        <span id="loadout-contents" data-bind="foreach: { data: items, as: 'item' }, moveItem: true">
            <div class="item" data-bind="css: (isMobile && item._id > 0 && item.doEquip() ? 'doEquip' : '') + (item && _.has(item,'bonusOn') ? (item.bonusOn == item.bonusStatOn ? ' active' : ' inactive') : '')">
                <input type="checkbox" value="true" data-bind="checked: item.doEquip, fastclick: markAsEquip, visible: !isMobile && item._id > 0" title="Enable to mark as the equip item">
                <a class="itemLink" data-bind="attr:{href:item.href, instanceId:item._id}">
                    <img class="itemImage" src="about:blank" data-bind="itemImageHandler: item.icon, attr: { src: item.icon, instanceId:item._id }, fastclick: function(){ return false }">
                </a>
                <div class="attkIcon">
                    <div data-bind="text: _.has(item,'bonusOn') ? item.bonusOn.substring(0,3) : item.primaryStat(), css: damageTypeName"></div>
                </div>
            </div>
        </span>
    </div>
</div>