<nav data-bind="with: activeItem" id="move-popup" class="navbar navbar-default navbar-fixed-bottom" style="display:none;">
    <div class="container-fluid">
        <div class="move-popup row no-gutter">
            <div class="item-name col-xs-24">
				<div class="pull-left">
					<span data-bind="text: $root.activeText().movepopup_move"></span>:
					<span data-bind="text: description"></span>
					<!-- ko if: (bucketType == 'Consumables' && tgd.DestinyGeneralItems['Glimmer Credit'].indexOf(id) > -1) -->
					<span data-bind="text: 'valued at: ' + (primaryStat() * 200) + 'G'"></span>
					<!-- /ko -->
					<!-- ko if: (bucketType !== 'Consumables' && bucketType !== 'Materials' && bucketType !== 'Messages' && bucketType !== 'Invisible' && bucketType !== 'Lost Items' && bucketType !== 'Bounties' && bucketType !== 'Mission') -->
					<i class="fa text-info" aria-hidden="true" data-bind="css: locked() ? 'fa-lock' : 'fa-unlock', fastclick: function(){ toggleLock() }" style="cursor:pointer;"></i>
					<!-- /ko -->
				</div>
				<div class="pull-right">
					<span class="label label-primary"><a data-bind="fastclick: openInDestinyTracker">DTR</a></span>
					<span class="label label-primary"><a data-bind="fastclick: openInDestinyDB">DDB</a></span>
					<span class="label label-primary"><a data-bind="fastclick: openInArmory">Armory</a></span>
                    <span class="label label-primary" data-bind="visible: perkTree.length > 0"><a data-bind="fastclick: openPerkTree">Perks</a></span>
				</div>
            </div>
            <div class="locations col-xs-24 col-md-20 col-md-offset-2 col-lg-28 col-lg-offset-4">
                <div class="locations" data-bind="foreach: { data: $root.orderedCharacters, as: 'avatar' }">
                    <div class="move-button col-xs-4" data-bind="attr: { title: avatar.uniqueName }, fastclick: function(){ $parent.store(avatar.id) }, visible: avatar.id == 'Vault' && $parent.character.id !== 'Vault' && $parent.bucketType !== 'Subclasses' && $parent.transferStatus < 2">
                        <div class="attkIcon">
                            <div class="icon-banner" data-bind="text: $root.activeText().movepopup_vault"></div>
                            <img src="about:blank" data-bind="itemImageHandler: icon">
                            <div class="lower-left" data-bind="text: classLetter"></div>
                        </div>
                    </div>
                    <div class="move-button col-xs-4" data-bind="attr: { title: avatar.uniqueName }, fastclick: function(){ $parent.store(avatar.id) }, visible: $parent.isStoreable(avatar.id)">
                        <div class="attkIcon">
                            <div class="icon-banner" data-bind="text: $root.activeText().movepopup_store"></div>
                            <img src="about:blank" data-bind="itemImageHandler: icon">
                            <div class="lower-left" data-bind="text: classLetter"></div>
                        </div>
                    </div>
                    <div class="move-button col-xs-4" data-bind="attr: { title: avatar.uniqueName }, fastclick: function(){ $parent.equip(avatar.id) }, visible: $parent.isEquippable(avatar.id)">
                        <div class="attkIcon">
                            <div class="icon-banner" data-bind="text: $root.activeText().movepopup_equip"></div>
                            <img src="about:blank" data-bind="itemImageHandler: icon">
                            <div class="lower-left" data-bind="text: classLetter"></div>
                        </div>
                    </div>
                </div>
                <div class="move-button col-xs-4" data-bind="attr: { title: 'extras' }, fastclick: showExtras, visible: (bucketType == 'Materials' || bucketType == 'Consumables')">
                    <div class="attkIcon">
                        <div class="icon-banner" data-bind="text: $root.activeText().movepopup_extras">extras</div>
                        <img src="assets/icon128.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>