<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-bind="click: showWhatsNew">TGD <strong data-bind="visible: !isMobile && !isStaticBrowser"><span class="version" data-bind="text: tgd.version"></span></strong></a>
            <div class="quickScrollView" data-bind="foreach: { data: $root.orderedCharacters, as: 'avatar' }, scrollToView: false">
                <div class="mobile-characters">
                    <img class="mobile-characters-image" data-bind="itemImageHandler: icon, attr: {title: uniqueName}, css: id" src="about:blank">
					<div class="mobile-characters-letter" data-bind="text: classLetter"></div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-bind="fastclick: refreshButton" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-refresh text-success"></i> <span class="refresh-text" data-bind="text: $root.activeText().menu_refresh">Refresh</span></a>
                </li>
                <li class="dropdown">
                    <a data-bind="fastclick: clearFilters" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-filter"></i> <span class="clear-filters-text" data-bind="text: $root.activeText().menu_clear">Clear Filters</span></a>
                </li>
                <li class="dropdown" data-bind="visible: !isStaticBrowser">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs"></i> <span class="settings-text" data-bind="text: $root.activeText().menu_options">More</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
						<li><a href="#" data-bind="fastclick: showSettings"><i class="fa fa-cog"></i><span data-bind="text: $root.activeText().menu_settings">Settings</span></a></li>
						<li class="divider"></li>
                        <li><a href="#" data-bind="fastclick: logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        <li data-bind="visible: hasBothAccounts() || (!hasBothAccounts() && preferredSystem() == 'PSN')"><a href="#" data-bind="fastclick: openBungieWindow('Psnid')"><i class="fa fa-sign-in"></i> PSN Login</a></li>
                        <li data-bind="visible: hasBothAccounts() || (!hasBothAccounts() && preferredSystem() == 'XBL')"><a href="#" data-bind="fastclick: openBungieWindow('Xuid')"><i class="fa fa-sign-in"></i> Live Login</a></li>
                        <li data-bind="visible: hasBothAccounts(), css: preferredSystem() == 'PSN' ? 'active' : ''"><a href="#" data-bind="fastclick: usePlaystationAccount"><i class="fa fa-gamepad"></i> <span data-bind="text: $root.activeText().menu_useps">Use Playstation Account</span></a></li>
                        <li data-bind="visible: hasBothAccounts(), css: preferredSystem() == 'XBL' ? 'active' : ''"><a href="#" data-bind="fastclick: useXboxAccount"><i class="fa fa-gamepad"></i> <span data-bind="text: $root.activeText().menu_usexbox">Use Xbox Account</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-bind="fastclick: clearFilters"><i class="fa fa-filter"></i><span data-bind="text: $root.activeText().menu_clear">Clear Filters</span></a></li>
                        <li><a href="#" data-bind="fastclick: showAbout"><i class="fa fa-info"></i><span data-bind="text: $root.activeText().menu_about">About</span></a></li>
                        <li><a href="#" data-bind="fastclick: showHelp"><i class="fa fa-question"></i><span data-bind="text: $root.activeText().menu_help">Help</span></a></li>
                        <li><a href="#" data-bind="fastclick: showDonate"><i class="fa fa-credit-card"></i><span data-bind="text: $root.activeText().menu_donate">Donate</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-bind="fastclick: openStatusReport(1)"><i class="fa fa-external-link"></i><span data-bind="text: $root.activeText().menu_destinystatus">DestinyStatus Report</span></a></li>
                        <li><a href="#" data-bind="fastclick: openStatusReport(2)"><i class="fa fa-external-link"></i><span data-bind="text: $root.activeText().menu_destinytrials">DestinyTrials Report</span></a></li>
                        <li><a href="#" data-bind="fastclick: openStatusReport(3)"><i class="fa fa-external-link"></i><span data-bind="text: $root.activeText().menu_destinytracker">DestinyTracker Report</span></a></li>
                        <li><a href="#" data-bind="fastclick: openStatusReport(4)"><i class="fa fa-external-link"></i><span data-bind="text: $root.activeText().menu_destinyguardiangg">Guardian.GG Report</span></a></li>
                        <li><a href="#" data-bind="fastclick: toggleShareView"><i class="fa fa-share-alt"></i><span data-bind="text: $root.activeText().menu_shareurl">Share URL with friends</span></a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input class="form-control" placeholder="Search" size="9" type="text" data-bind="value: searchKeyword">
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown" data-bind="visible: !isStaticBrowser">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_loadouts">Loadouts</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- ko foreach: { data: sortedLoadouts, as: 'loadout' } -->
                        <li data-bind="fastclick: setActive">
                            <a data-bind="text: loadout.name" href="#"></a>
                        </li>
                        <!--/ko  -->
                        <li class="divider"></li>
						<li data-bind="fastclick: manageLoadouts"><a href="#">
							<i class="fa fa-plus"></i><span data-bind="text: $root.activeText().menu_loadouts_manage">Manage</span></a>
						</li>
                        <li data-bind="fastclick: createLoadout"><a href="#">
							<i class="fa fa-plus"></i><span data-bind="text: $root.activeText().menu_loadouts_create">Create</span></a>
						</li>
                        <li data-bind="fastclick: cancelLoadout">
							<a href="#"><i class="fa fa-times"></i><span data-bind="text: $root.activeText().cancel">Cancel</span></a>
						</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_view">View</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="fastclick: setView" value="0">
                            <a href="#">
                                <i class="fa" data-bind="css: activeView() == 0 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_all">All</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setView" value="1">
                            <a href="#">
                                <i class="fa" data-bind="css: activeView() == 1 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_view_weapons">Weapons</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setView" value="2">
                            <a href="#">
                                <i class="fa" data-bind="css: activeView() == 2 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_view_armor">Armor</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setView" value="3">
                            <a href="#">
                                <i class="fa" data-bind="css: activeView() == 3 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_view_general">General</span>
                            </a>
                        </li>
						<li class="divider"></li>
                        <li>
                            <strong style="padding-left: 10px;">
                                <span data-bind="text: $root.activeText().menu_viewformat">View Format</span>
                            </strong>
                        </li>
						<li data-bind="fastclick: setViewFormat" value="image-grid-template">
                            <a href="#">
                                <i class="fa" data-bind="css: sectionsTemplate() == 'image-grid-template' ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_viewimagegrid">Image Grid</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setViewFormat" value="items-list-template">
                            <a href="#">
                                <i class="fa" data-bind="css: sectionsTemplate() == 'items-list-template' ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_viewitemlist">Items List</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <strong style="padding-left: 10px;">
                                <span data-bind="text: $root.activeText().menu_sortby">Sort By</span>
                            </strong>
                        </li>
                        <li data-bind="fastclick: setSort" value="0">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 0 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_tier_type">Tier, Type</span>
                            </a>
                        </li>
						<li data-bind="fastclick: setSort" value="5">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 5 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_tier_light">Tier, Light</span>
                            </a>
                        </li>
						<li data-bind="fastclick: setSort" value="6">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 6 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_tier_name">Tier, Name</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setSort" value="1">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 1 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_type">Type</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setSort" value="2">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 2 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_lightlvl">Light Level</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setSort" value="3">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 3 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_type_light">Type, Light</span>
                            </a>
                        </li>
                        <li data-bind="fastclick: setSort" value="4">
                            <a href="#">
                                <i class="fa" data-bind="css: activeSort() == 4 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_sortby_name">Name</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" data-bind="fastclick: toggleViewOptions, text: $root.activeText().menu_view_options">View Options</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_set">Set</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: setFilter().length == 0 ? 'active' : '', fastclick: setSetFilter('All')">
                            <a href="#"><i class="fa" data-bind="css: setFilter().length == 0 ? 'fa-check-square' : 'fa-square'"></i>									<span data-bind="text: $root.activeText().menu_all">All</span>								</a>
                        </li>
                        <!-- ko foreach: { data: collectionSets, as: 'collection' } -->
                        <li data-bind="css: $root.setFilter() == _collections[collection] ? 'active' : '', fastclick: $root.setSetFilter(collection)">
                            <a href="#">
                                <i class="fa" data-bind="css: $root.setFilter() == _collections[collection] ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: collection"></span>
                            </a>
                        </li>
                        <!--/ko  -->
                        <li class="divider"></li>
                        <li data-bind="css: showMissing() ? 'active' : '', fastclick: toggleShowMissing">
                            <a href="#"><i class="fa" data-bind="css: showMissing() ? 'fa-check-square' : 'fa-square'"></i>									<span data-bind="text: $root.activeText().menu_set_showmissing">Show Missing Items</span>								</a>
                        </li>
                        <li data-bind="css: showDuplicate() ? 'active' : '', fastclick: toggleDuplicates">
                            <a href="#"><i class="fa" data-bind="css: showDuplicate() ? 'fa-check-square' : 'fa-square'"></i>									<span data-bind="text: $root.activeText().menu_set_showduplicates">Show Duplicate Items</span>								</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_tier">Tier</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: tierFilter() == $($element).attr('value') ? 'active' : '', fastclick: $root.setTierFilter.bind(0)">
                            <a href="#"><i class="fa" data-bind="css: tierFilter() == 0 ? 'fa-check-square' : 'fa-square'"></i>
							<span data-bind="text: $root.activeText().menu_all">All</span>								</a>
                        </li>
                        <!-- ko foreach: { data: tierTypes, as: 'tierType' } -->
                        <li data-bind="css: $parent.tierFilter() == tierType.tier ? 'active' : '', fastclick: $parent.setTierFilter.bind(tierType.tier)">
                            <a href="#"><i class="fa" data-bind="css: $parent.tierFilter() == tierType.tier ? 'fa-check-square' : 'fa-square'"></i><span data-bind="text: tierType.name"></span></a>
                        </li>
                        <!--/ko  -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_progress">Progress</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: progressFilter() == $($element).attr('value') ? 'active' : '', fastclick: setProgressFilter" value="0">
                            <a href="#"><i class="fa" data-bind="css: progressFilter() == 0 ? 'fa-check-square' : 'fa-square'"></i>									
								<span data-bind="text: $root.activeText().menu_all">All</span>								</a>
                        </li>
                        <li data-bind="css: progressFilter() == $($element).attr('value') ? 'active' : '', fastclick: setProgressFilter" value="1">
                            <a href="#"><i class="fa" data-bind="css: progressFilter() == 1 ? 'fa-check-square' : 'fa-square'"></i>									
								<span data-bind="text: $root.activeText().menu_progress_1">Missing XP</span>								</a>
                        </li>
                        <li data-bind="css: progressFilter() == $($element).attr('value') ? 'active' : '', fastclick: setProgressFilter" value="2">
                            <a href="#"><i class="fa" data-bind="css: progressFilter() == 2 ? 'fa-check-square' : 'fa-square'"></i>									
								<span data-bind="text: $root.activeText().menu_progress_2">Full XP</span>								</a>
                        </li>
                        <li data-bind="css: progressFilter() == $($element).attr('value') ? 'active' : '', fastclick: setProgressFilter" value="3">
                            <a href="#"><i class="fa" data-bind="css: progressFilter() == 3 ? 'fa-check-square' : 'fa-square'"></i>									
								<span data-bind="text: $root.activeText().menu_progress_3">Maxed</span>								</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="html: $root.activeText().menu_damage">Damage</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach: { data: _.values(tgd.DestinyDamageTypes).splice(1,4), as: 'dmgType' }">					
                        <li data-bind="css: $parent.dmgFilter().indexOf(dmgType) > -1 ? 'active' : '', fastclick: $parent.setDmgFilter.bind(dmgType)">
                            <a href="#">
								<i class="fa" data-bind="css: $parent.dmgFilter().indexOf(dmgType) > -1 ? 'fa-check-square' : 'fa-square'"></i>
								<img class="icon" data-bind="attr: { src: 'assets/' + dmgType.toLowerCase() + '.png' }">
								<span data-bind="text: dmgType"></span>
							</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-bind="visible: (activeView() == 0 || activeView() == 1)">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_view_weapons">Weapons</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: weaponFilter() == $($element).attr('value') ? 'active' : '', fastclick: setWeaponFilter({ name: 0 })">
                            <a href="#">
                                <i class="fa" data-bind="css: weaponFilter() == 0 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_all">All</span>
                            </a>
                        </li>
                        <!-- ko foreach: { data: weaponTypes, as: 'weaponType' } -->
                        <li data-bind="css: $parent.weaponFilter() == weaponType.name ? 'active' : '', fastclick: $parent.setWeaponFilter(weaponType)">
                            <a href="#"><i class="fa" data-bind="css: $parent.weaponFilter() == weaponType.name ? 'fa-check-square' : 'fa-square'"></i>
									<span data-bind="text: weaponType.name">All</span>
								</a>
                        </li>
                        <!--/ko  -->
                    </ul>
                </li>
                <li class="dropdown" data-bind="visible: (activeView() == 0 || activeView() == 2)">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_view_armor">Armor</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: armorFilter() == $($element).attr('value') ? 'active' : '', fastclick: setArmorFilter(0)">
                            <a href="#">
                                <i class="fa" data-bind="css: armorFilter() == 0 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_all">All</span>
                            </a>
                        </li>
                        <!-- ko foreach: { data: tgd.DestinyArmorPieces, as: 'armorType' } -->
                        <li data-bind="css: $parent.armorFilter() == armorType ? 'active' : '', fastclick: $parent.setArmorFilter(armorType)">
                            <a href="#"><i class="fa" data-bind="css: $parent.armorFilter() == armorType ? 'fa-check-square' : 'fa-square'"></i>
									<span data-bind="text: armorType"></span>
								</a>
                        </li>
                        <!--/ko  -->
                        <li class="divider"></li>
                        <li>
                            <strong style="padding-left: 10px;">
                                <span data-bind="text: $root.activeText().menu_filter_by">Filter By</span>
                            </strong>
                        </li>
                        <li data-bind="css: showArmorPerks() ? 'active' : '', fastclick: toggleArmorPerks">
                            <a href="#">
                                <i class="fa" data-bind="css: showArmorPerks() ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_filter_by_weapon_eq">Weapons Equipped</span>
                            </a>
                        </li>
                        <li data-bind="css: showArmorSC() ? 'active' : '', fastclick: toggleArmorSC">
                            <a href="#">
                                <i class="fa" data-bind="css: showArmorSC() ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_filter_by_subclass_eq">Subclass Equipped</span>
                            </a>
                        </li>
						<!-- ko foreach: { data: tgd.DestinyArmorStats, as: 'armorStat' } -->
							<li data-bind="css: $parent.showArmorStat(armorStat.statName) ? 'active' : '', fastclick: $parent.toggleArmorStat.bind(armorStat.statName)">
								<a href="#">
									<i class="fa" data-bind="css: $parent.showArmorStat(armorStat.statName) ? 'fa-check-square' : 'fa-square'"></i>
									Skill: <span data-bind="text: armorStat.statName"></span>
								</a>
							</li>
                        <!--/ko  -->
                        <li class="divider"></li>
                        <li>
                            <strong style="padding-left: 10px;">
                                <span data-bind="text: $root.activeText().menu_filter_for_class">Filter for Class</span>
                            </strong>
                        </li>
                        <!-- ko foreach: { data: _.values(tgd.DestinyClass), as: 'classType' } -->
                        <li data-bind="css: $parent.showArmorClass(classType) ? 'active' : '', fastclick: $parent.toggleArmorClass.bind(classType)">
                            <a href="#">
                                <i class="fa" data-bind="css: $parent.showArmorClass(classType) ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: classType"></span>
                            </a>
                        </li>
                        <!--/ko  -->
                        <li class="divider"></li>
                        <li>
                            <strong style="padding-left: 10px;">
                                <span data-bind="text: $root.activeText().menu_view_by">View By</span>
                            </strong>
                        </li>
                        <li data-bind="css: armorViewBy() == 'Light' ? 'active' : '', fastclick: setArmorView.bind('Light')">
                            <a href="#">
                                <i class="fa" data-bind="css: armorViewBy() == 'Light' ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_view_by_lightlvl">Light Level</span>
                            </a>
                        </li>
                       <li data-bind="css: armorViewBy() == 'CSP' ? 'active' : '', fastclick: setArmorView.bind('CSP')">
                            <a href="#">
                                <i class="fa" data-bind="css: armorViewBy() == 'CSP' ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_view_by_stat_points">Combined Stat Points</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-bind="visible: (activeView() == 0 || activeView() == 3)">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span data-bind="text: $root.activeText().menu_view_general">General</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-bind="css: generalFilter() == $($element).attr('value') ? 'active' : '', fastclick: setGeneralFilter.bind(0)">
                            <a href="#">
                                <i class="fa" data-bind="css: generalFilter() == 0 ? 'fa-check-square' : 'fa-square'"></i>
                                <span data-bind="text: $root.activeText().menu_all">All</span>
                            </a>
                        </li>
                        <!-- ko foreach: { data: tgd.DestinyGeneralSearches, as: 'searchType' } -->
                        <li data-bind="css: $parent.generalFilter() == searchType ? 'active' : '', fastclick: $parent.setGeneralFilter.bind(searchType)">
                            <a href="#"><i class="fa" data-bind="css: $parent.generalFilter() == searchType ? 'fa-check-square' : 'fa-square'"></i>
									<span data-bind="text: searchType"></span>
								</a>
                        </li>
                        <!--/ko  -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
