<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<!-- Dash Navbar Top 
Available versions: dnl-visible, dnl-hidden -->
<nav class="navbar navbar-static-top dash-navbar-top dnl-hidden">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dnt-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-v"></span>
      </button>
      <button class="dnl-btn-toggle">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="#">TGD <span>2.8.0</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="dnt-collapse">
      <!-- This dropdown is for avatar -->
      <ul class="nav navbar-nav navbar-right navbar-avatar">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Standard <span>go pro</span></a></li>
            <li><a href="#">Upload</a></li>
            <li class="active"><a href="#">Active link</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right dnt-navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn"><span class="fa fa-search"></span></button>
      </form>  
      <!-- This dropdown is for normal links 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="fa fa-angle-down"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Link 1 <span>LOL</span></a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
      </ul> -->       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!-- /.navbar -->


<!-- Dash Navbar Left 
Available versions: dnl-visible, dnl-hidden -->
<div class="dash-navbar-left dnl-hidden" data-bind="template: { afterRender: componentLoaded() }">
  <p class="dnl-nav-title">Nav</p>
  <ul class="dnl-nav">
	<li>
      <a href="#home">
        <span class="glyphicon dnl-link-icon fa fa-home"></span>
        <span class="dnl-link-text">Home</span>
      </a>
    </li>
    <li>
      <a href="#help">
        <span class="glyphicon dnl-link-icon fa fa-question"></span>
        <span class="dnl-link-text">Help</span>
      </a>
    </li>
    <li>
      <a href="#about">
        <span class="glyphicon dnl-link-icon fa fa-info"></span>
        <span class="dnl-link-text">About</span>
      </a>
    </li>
    <li>
      <a href="#donate">
        <span class="glyphicon dnl-link-icon fa fa-credit-card"></span>
        <span class="dnl-link-text">Donate</span>
      </a>
    </li>
	<li>
      <a href="#settings">
        <span class="dnl-link-icon glyphicon glyphicon-wrench"></span>
        <span class="dnl-link-text">Settings</span>
      </a>
    </li>
  </ul>
  <p class="dnl-nav-title">Filters</p>
  <ul class="dnl-nav">
    <li>
      <a href="#">
        <span class="fa fa-image dnl-link-icon"></span>
        <span class="dnl-link-text">View</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
        <span class="dnl-link-text">Set</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
        <span class="dnl-link-text">Tier</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-stats dnl-link-icon"></span>
        <span class="dnl-link-text">Progress</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-fire dnl-link-icon"></span>
        <span class="dnl-link-text">Damage</span>
      </a>
    </li>
	<li>
      <a href="#">
        <span class="fa fa-bullseye dnl-link-icon"></span>
        <span class="dnl-link-text">Weapon</span>
      </a>
    </li>
  </ul>
  <p class="dnl-nav-title">Tools</p>
  <ul class="dnl-nav">
    <li>
      <a class="collapsed" data-toggle="collapse" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
        <span class="fa fa-dot-circle-o dnl-link-icon"></span>
        <span class="dnl-link-text">Loadouts</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseStatistics">
        <li>
          <a href="#">
            <span class="fa fa-clock-o dnl-link-icon"></span>
            <span class="dnl-link-text">VOG</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-history dnl-link-icon"></span>
            <span class="dnl-link-text">Crota</span>
          </a>
        </li>
      </ul>
    </li>      
    <li>
      <a href="#">
        <span class="fa fa-share-alt dnl-link-icon"></span>
        <span class="dnl-link-text">Share URL with friends</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="fa fa-external-link dnl-link-icon"></span>
        <span class="dnl-link-text">DestinyStatus.com Profile</span>
      </a>
    </li>
	<li>
      <a href="#">
        <span class="fa fa-external-link dnl-link-icon"></span>
        <span class="dnl-link-text">DestinyTracker.com Profile</span>
      </a>
    </li>
  </ul>
</div> <!-- /.dash-navbar-left -->