<h2>Help</h2>

<ul class="list-group">
	<li class="list-group-item"><strong>About</strong> Displays information about the app and the author.</li>
	<li class="list-group-item"><strong>Donate</strong> Paypal link to support the cause and keep the project alive.</li>
	<li class="list-group-item"><strong>Share URL</strong> Generates a <a href="http://DestinyExotics.com">DestinyExotics.com</a> URL you can share with your friends showing what weapons you have in your inventory.</li>
	<li class="list-group-item"><strong>Clear Filters</strong> Resets all the filters back to their default state.</li>
	<li class="list-group-item"><strong>Auto Refresh</strong> Allows option for enable/disable and a refresh interval in seconds.</li>
	<li class="list-group-item"><strong>Change Page</strong> Toggle between different views first page is Weapons, second page is Armor, third page is Styling/Misc</li>
	<li class="list-group-item"><strong>DestinyDB Tooltips</strong> Allows for taps or hovers to enable the tooltip, if disabled double tap or double click enables the tooltip.</li>
	<li class="list-group-item"><strong>DestinyDB Mode</strong> When enabled clicking on an item will open a new tab showing you the full stats of the item.</li>
	<li class="list-group-item"><strong>Auto Transfer Stacks</strong> When enabled you will not be prompted and the entire stack will be transferred (consumables, materials).</li>
	<li class="list-group-item"><strong>View</strong> Toggle between different views first page is Weapons, second page is Armor, third page is General</li>
	<li class="list-group-item"><strong>Tier</strong> Filter by the rarity of the item (rare, legendary, exotic) </li>
	<li class="list-group-item"><strong>Set</strong> Preset collections from various activiies in Destiny for an easy to filter list </li>
	<li class="list-group-item"><strong>Show Missing Items</strong> When a Set is enabled use this to show you what items you're missing from that set.</li>
	<li class="list-group-item"><strong>Show Unique Items</strong> When enabled it shows you all weapons that have been randomly rolled</li>
	<li class="list-group-item"><strong>Progress</strong> <em>Missing XP:</em> Items that do not have their circles completely filled in with XP.</li>
	<li class="list-group-item"><strong>Progress</strong> <em>Full XP:</em> Items that have been completely filled with XP but is missing the gold border.</li>
	<li class="list-group-item"><strong>Progress</strong> <em>Maxed:</em> Items that have gold borders only.</li>
	<li class="list-group-item"><strong>Damage</strong> Filter by burn type, kinetic is the default burn applied to all weapons if it's not arc, void or solar.</li>
	<li class="list-group-item"><strong>Weapon</strong> Filter by type of weapon, this list will only show types you have in your inventory.</li>
	<li class="list-group-item"><strong>Name or Perk</strong> Filter by the name of the item, or the name of the perk, or the description in the perk.</li>
</ul>
