<ul>
	<li>The <span style="color:green">green text</span> indicates the build has matching weapon perks.</li>
	<li>The <span style="color:green">green border</span> indicates the stats should remain unchanged, <span style="color:red">red border</span> requires you to toggle the stats in game.</li>
	<li>You may hold the image of an item to filter by builds that only contain that item.</li>	
</ul>
<ul class="list-group">
    <%_.each(builds, function(sets){ %>
        <li class="list-group-item">
			<%_.each(sets, function(build, index){ %>
	            <div class="row" style="display:<%= index == 0 ? '' : 'none' %>" id="<%= build.id + '_' + index %>">
	                <div class="text-center col-xs-24 col-md-3">
						<div class="col-xs-8 col-md-24" style="padding-bottom:5px;">
		                    <input class="armorBuild form-control" name="armorBuild" type="radio" value="<%= build.statTiers + '_' + index %>">
						</div>
						<div class="col-xs-4 col-md-12">
							<button class="prevCombo" style="display:<%= index > 0 ? '' : 'none' %>"><span class="fa fa-chevron-left text-primary"></span></button>
						</div>
						<div class="col-xs-4 col-md-12">
							<button class="nextCombo" style="display:<%= index < (sets.length-1) ? '' : 'none' %>"><span class="fa fa-chevron-right text-primary"></span></button>
						</div>
						<div class="col-xs-8 col-md-24">
							<%= (index + 1) + '/' + sets.length %>
						</div>
	                </div>
	                <div class="text-left col-xs-24 col-md-21">
	                    <div class="col-xs-12">
	                        <span class="font-bold">Light</span>
	                        <span class="text-primary"><%= build.light %></span>
	                    </div>
	                    <div class="col-xs-12">
	                        <span class="font-bold">Score</span>
	                        <span class="text-primary <%= build.similarityScore >= 6 ? 'text-success' : '' %>"><%= build.score.toFixed(3) %></span>
	                    </div>
	                    <div class="col-xs-12">
	                        <span class="font-bold">Stat Tiers</span>
	                        <span class="text-primary"><%= build.statTiers %></span>
	                    </div>
	                    <div class="col-xs-12">
	                        <span class="font-bold">Stat Values</span>
	                        <span class="text-primary"><%= build.statValues %></span>
	                    </div>
	                    <div class="col-xs-24">
	                        <% _.each(_.sortBy(build.set,'bucketType').reverse(), function(item){	%>
	                            <a class="itemLink" itemId="<%= item.id %>" instanceId="<%= item._id %>" href="<%= item.href %>">
									<img class="itemImage" src="<%= item.icon %>" style="border:1px solid <%= item.activeRoll.bonusOn == item.bonusStatOn ? 'green':'red' %>">
								</a>
	                            <%}) %>
	                    </div>
						<div class="col-xs-24" style="margin-top: 5px">
							<% _.each(build.perks, function(perk){	%>
								<div class="col-xs-12 font-smaller-1">
									<% if (!isMobile){	%>
										<img width="24" src="<%= perk.iconPath %>" class="perkImage"> 
										<span class="text-muted"><%= perk.bucketType %>:</span>
									<%} %>
									<span class="text-primary"><%= perk.name %></span>
								</div>
							<%}) %>
	                    </div>
	                </div>
	            </div>
			<%}) %>
        </li>
        <%}) %>
</ul>