<ul class="list-group">
    <%_.each(builds, function(build){ %>
        <li class="list-group-item">
            <div class="row">
                <div class="text-left col-xs-3">
                    <input class="armorBuild form-control" name="armorBuild" type="radio" value="<%= build.title %>">
                </div>
                <div class="text-left col-xs-21">
                    <div class="col-xs-12">
                        <span class="font-bold">Light Level</span>
                        <span class="text-primary"><%= build.light %></span>
                    </div>
                    <div class="col-xs-12">
                        <span class="font-bold">Score</span>
                        <span class="text-primary"><%= build.score %> / 15.9</span>
                    </div>
                    <div class="col-xs-12">
                        <span class="font-bold">Stat Tiers</span>
                        <span class="text-primary"><%= build.statTiers %></span>
                    </div>
                    <div class="col-xs-12">
                        <span class="font-bold">Stat Values</span>
                        <span class="text-primary"><%= build.statValues %></span>
                    </div>
                    <div>
                        <% _.each(_.sortBy(build.set,'bucketType').reverse(), function(item){	%>
                            <a class="itemLink" itemId="<%= item.id %>" href="<%= item.href %>">
								<img class="itemImage" src="<%= item.icon %>">
							</a>
                            <%}) %>
                    </div>
                </div>
            </div>
        </li>
        <%}) %>
</ul>