<div id="container_<%= id %>" class="form-group">
	<div class="row" style="margin-top: 5px; margin-bottom:5px">
		<div class="col-xs-6">
			Armor Type
		</div>
		<div class="col-xs-18">
			<select class="form-control" data-bind="options: tgd.DestinyArmorPieces, optionsCaption: '--Select--', value: $root.bucketType">
				
			</select>
		</div>
	</div>
	<div class="row" data-bind="visible: !_.isEmpty($root.bucketType())" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Item Type
		</div>
		<div class="col-xs-18">
			<select class="form-control" data-bind="options: armorTypes, optionsCaption: '--Select--', value: $root.armorType">
				
			</select>
		</div>
	</div>
	<div class="row" data-bind="visible: $root.armorType() == 'Existing Item'" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Character Name
		</div>
		<div class="col-xs-18">
			<select class="form-control" data-bind="options: app.characters, optionsText: 'uniqueName', optionsCaption: '--Select--', value: $root.selectedCharacter">
				
			</select>
		</div>
	</div>
	<div class="row" data-bind="visible: !_.isEmpty($root.selectedCharacter())" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Item Name
		</div>
		<div class="col-xs-18">
			<select class="form-control" data-bind="options: availableCharacterItems, optionsText: 'uniqueDescription', optionsCaption: 'Include all items', value: $root.selectedExistingItem">
				
			</select>
		</div>
	</div>	
	<div class="row" data-bind="visible: $root.armorType() == 'New Item'" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Armor Name
		</div>
		<div class="col-xs-18">
			<select class="form-control" data-bind="options: availableItems, optionsText: 'itemName', optionsCaption: '--Select--', value: $root.selectedNewItem">
				
			</select>
		</div>
	</div>
	<div class="row" data-bind="visible:  !_.isEmpty($root.selectedNewItem())" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Light Level
		</div>
		<div class="col-xs-18">
			<input type="text" class="form-control" data-bind="value: lightLevel">
		</div>
	</div>		
	<div class="row" data-bind="visible: !_.isEmpty($root.selectedNewItem())" style="margin-top: 5px; margin-bottom:5px; display:none">
		<div class="col-xs-6">
			Armor Stats
		</div>
		<div class="col-xs-18">
			<div data-bind="foreach: { data: selectedStats, as: 'stat' }">
				<span data-bind="text: name"></span>
				<input type="text" class="form-control" data-bind="value: value">
			</div>
		</div>
	</div>
</div>