<ul class="list-group">
    <%_.each(builds, function(build){ %>
        <li class="list-group-item">
            <div class="row">
                <div class="text-left col-lg-3">
                    <input class="armorBuild form-control" name="armorBuild" type="radio" value="<%= build.title %>">
                </div>
                <div class="text-left col-lg-21">
                    <%= build.title %>-
                        <%= _.pluck(_.sortBy(build.set,'bucketType'),'description').reverse() %>
                </div>
            </div>
        </li>
        <%}) %>
</ul>