<div class="help">
	<p>
		Farm Mode provides an easy way to automatically transfer incoming <i>Engrams, Rare and Uncommon items, and Glimmer Credit (Network Keys, Axiomatic Beads, House Banners, Silken Codex)</i> 
		to the Vault as you play Strikes, Crucible or any activities where you earn this type of loot.
		The idea is Farm Mode will keep the loot you earn in the Vault instead of the Post Master therefore being able to avoid getting full in the Post Master,
		as well as the ability to easily transfer all your Engrams back to your characters easily.
	</p>
	<br>
	<ol>
		<li>First confirm you want Farm Mode to transfer the 4 item types by checking, unchecking the desired item types.</li>
		<li>After click on the Play button and the status should change to <strong>"Farm Mode Enabled"</strong>.</li>
		<li>Once enabled all selected item types will be automatically transferred to the Vault when your inventory refreshes automatically or manually.</li>
		<li>To transfer your engrams, blues, greens, etc. back to your character first stop Farm Mode so it says <strong>"Farm Mode Disabled"</strong>.</li>
		<li>Once Farm Mode is disabled you may click on the character icon to transfer the items to it.</li>
		<li>Rinse and repeat, enable Farm Mode once again and continue playing activities while it collects your loot in the Vault</li>
	</ol>
	
	<p>Tip: You may lock a Rare, and Uncommon items to prevent them from getting transferred to the Vault.</p>
</div>