<div id="help" class="help">
    <h2>Usage Guides</h2>

    <ul>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irno8/feature_sharing_and_viewing_arsenal_online/">Sharing and Viewing Arsenal Online</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3inqkh/feature_transferring_items_with_tower_ghost/">Transferring Items</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irm1y/feature_transfer_methods_available_in_tower_ghost/">Transfer Methods Available</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3imt9m/feature_tower_ghost_for_destiny_tooltips/">Understanding the Tooltips</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3irqst/feature_using_the_filters_quickly_and_effectively/">Using the filters quickly and effectively</a></li>
        <li><a target="_system" href="https://www.reddit.com/r/TowerGhostForDestiny/comments/3nlua1/feature_using_the_stats_tool_effectively/">Using the stats tool effectively</a></li>
    </ul>

    <h2>Definitions</h2>
    <ul>
        <li>
            <h3>Account Options</h3>
        </li>
        <li>
            <strong>Logout</strong> Logs you out of Bungie.net allowing you to view your arsenal with a different account.</li>
        <li>
            <strong>PSN Login</strong> Opens the login page for the Playstation Network sign in, useful if your password changed.</li>
        <li>
            <strong>Live Login</strong> Opens the login page for the Windows Live sign in, useful if your password changed.</li>
        <li>
            <strong>Use Xbox Account</strong> Only visible if two accounts linked to your Bungie.net account.</li>
        <li>
            <strong>Use Playstation Account</strong> Only visible if two accounts linked to your Bungie.net account.</li>
        <li>
            <h3>Other Options</h3>
        </li>
        <li>
            <strong>Clear Filters</strong> Resets all the filters back to their default state.</li>
        <li>
            <strong>About</strong> Displays information about the app and the author.</li>
        <li>
            <strong>Donate</strong> Paypal link to support the cause and keep the project alive.</li>
        <li>
            <strong>Language</strong> Allows you to set the menu and items to other languages (items only available in certain languages)</li>
        <li>
            <h3>Web Options</h3>
        </li>
        <li>
            <strong>Share URL with friends</strong> Provides a custom link with your gamer tag to be able to share your inventory with friends online.</li>
        <li>
            <strong>DestinyStatus Report</strong> Opens a new page that allows you to see the current progress of all your characters.</li>
        <li>
            <h3>UI Options</h3>
        </li>
        <li>
            <strong>Auto Refresh</strong> Allows option for enable/disable and a refresh interval in seconds set by default to 5 minutes.</li>
        <li>
            <strong>DestinyDB Tooltips</strong> Allows for taps or hovers to enable the tooltip, if disabled double tap or double click enables the tooltip.</li>
        <li>
            <strong>Advanced Tooltips</strong> This option will display additional perks available which are not currently active on the armor or weapon piece.</li>
        <li>
            <strong>DestinyDB Mode</strong> When enabled clicking on an item will open a new tab showing you the full stats of the item.</li>
        <li>
            <strong>Auto Transfer Stacks</strong> When enabled you will not be prompted and the entire stack will be transferred (consumables, materials).</li>
        <li>
            <strong>Auto Pad Height</strong> When enabled the sections will automatically adjust height to align with each other.</li>
        <li>
            <strong>Drag and Drop</strong> When enabled you may drag and drop an item from one section to another, compatible with mobile and desktop.</li>
        <li>
            <strong>Auto Updates</strong> This option will ensure you always have the latest version of Tower Ghost, enable it to allow Tower Ghost to update itself when a new version is available.
            <em>Note: If you are having problems with Auto Updates please try to disable and enable it again to clear the cache. thank you.</em>
        </li>
        <li>
            <h3>Menu Options</h3>
        </li>
        <li>
            <strong>View</strong> Toggle between different views first page is Weapons, second page is Armor, third page is General</li>
        <li>
            <strong>Tier</strong> Filter by the rarity of the item (rare, legendary, exotic) </li>
        <li>
            <strong>Set</strong> Preset collections from various activiies in Destiny for an easy to filter list </li>
        <li>
            <strong>Show Missing Items</strong> When a Set is enabled use this to show you what items you're missing from that set.</li>
        <li>
            <strong>Progress</strong>
            <em>Missing Perks:</em> Items that do not have their perks completely filled.</li>
        <li>
            <strong>Progress</strong>
            <em>Missing XP:</em> Items that have been completely filled with perks but are missing the gold border.</li>
        <li>
            <strong>Progress</strong>
            <em>Maxed:</em> Items that have gold borders only.</li>
        <li>
            <strong>Damage</strong> Filter by burn type, kinetic is the default burn applied to all weapons if it's not arc, void or solar.</li>
        <li>
            <strong>Weapon</strong> Filter by type of weapon, this list will only show types you have in your inventory.</li>
        <li>
            <strong>Search Box</strong> Filter by the name of the item, or the name of the perk, or the description in the perk, even if the perk is not active. Also allows you to filter by light level, you may type 280 to find items only at light level 280, you may also use &gt;280 to find anything higher or &lt;280 for items below 280.</li>
        <li>
            <h3>Armor Options</h3>
        </li>
        <li>
            <strong>Armor Type</strong> Filter by different armor types available such as helmet, chest and boots.</li>
        <li>
            <strong>Filter By Weapons Equipped</strong> Filter for armor such a gauntlets and boots that has matching perks to the weapons you have equipped.</li>
        <li>
            <strong>Filter By Subclass Equipped</strong> Filter for armor such a gauntlets and boots that has matching perks to the subclass you have equipped.</li>
        <li>
            <strong>View By Light Level</strong> Default View, displays the amount of light in an item in the corner stat.</li>
        <li>
            <strong>View By Combined Stat Points</strong> Displays the number of total skill points combined in the corner stat, so if a helmet has 50 int and 50 dis then it has 100 combined stat points..</li>
        <li>
            <h3>View Options</h3>
        </li>
        <li>
            <strong>Container Width</strong>
            This option allows you to control how wide you would like the overall container to be, the default option ensures proper padding on both sides for large displays, this option will not affect the layout for most mobile displays but will work for most tablet displays.</li>
        <li>
            <strong>Vault Mode</strong>
            The default option ensures that the Vault column is always as wide as all the other columns, setting it to Custom allows you to make the Vault column wider, do note that this option will not affect mobile displays only tablets and desktops.</li>
        <li>
            <strong>Vault Width</strong>
            This option is only available under "Custom" Vault Mode, setting this option will make the Vault column wider than the default 25%.</li>
        <li>
            <strong>Number of Columns</strong>
            This option is only available under "Default" Vault Mode, this option works as a matrix of column modes depending on your display.
            <br> Each row has a designated tag (xs,sm,md,lg) they are ordered from smallest display to largest so mobile displays use xs portrait and sm landscape. Desktop displays most likely use md or lg tag, each tag is dependent upon your resolution so 1 or 2 out of the 4 rows only apply to your device. Example: You have a mobile display that currently shows 1 column portrait (xs) and 2 columns landscape (sm) and you'd like to change it to 1/3, what you do is set the second row (sm) to 3 so it'll display 1 | 3 | 3 | 4 instead of 1 | 2 | 3 | 4 buttons selected.
        </li>
        <li>
            <strong>Vault Columns</strong>
            This option allows you to choose how many columns of items you want to see for the Vault profile, the default is 4 with the option of fitting more icons per row as the number goes up.</li>
        <li>
            <strong>Vault Position</strong>
            First/Left - The vault is displayed first on mobile, on the left side for wide displays. Last/Right - The vault is ordered last or on the right side for wide displays.</li>
        <li>
            <h3>Materials and Consumable Options</h3>
        </li>
        <li>
            <strong>Normalize</strong> Equally distribute consumables/materials across selected characters.</li>
        <li>
            <strong>Consolidate</strong> Move all of a certain consumable/material to a character.</li>
        <li>
            <strong>Don't ask again</strong> Enables Auto Transfer Stacks in Settings bypassing the prompt every time.</li>
        <li>
            <h3>Character Options</h3> More information can be found under help Guides <i>Using the stats tool effectively</i></li>
        <li>
            <strong>Light</strong> Equip the armor and weapons with the most Light points from any character or vault.</li>
        <li>
            <strong>Skill (Int/Disc/Str)</strong> Optimize armor for Tier 5 for that skill, ensure skill doesn't go too much over 300 points, if so it will automatically reduce the skill to arond 300 and buff the other stats.</li>
        <li>
            <strong>Most Points</strong> Optimize armor for the set that contains the most combined stat points.</li>
        <li>
            <strong>Best Combo</strong> Optimize armor for the set that has the most combined tiers available, if multiple tiers available a prompt will ask you which armor build you'd like to use.</li>
    </ul>
</div>