<div id="container_<%= id %>">
	<ul data-bind="sortable: { data: loadouts, as: 'loadout', afterMove: afterMove }" class="list-group">
		<li class="list-group-item">
			<div class="col-xs-24">
				<span class="fa fa-bars" style="cursor:pointer"></span>
				<span data-bind="text: name" class="list-group-item-heading"></span>
				<div class="btn-group">
					<a href="#" class="btn btn-default btn-sm">Rename</a>
					<a href="#" class="btn btn-default btn-sm" data-bind="click: loadout.remove">Delete</a>
					<a href="#" class="btn btn-default btn-sm">Equip</a>
				</div>
			</div>
			<div class="list-group-item-text col-xs-24">
				<div data-bind="foreach: { data: loadout.items, as: 'item' }">
					<div class="col-xs-3">
						<a class="itemLink" data-bind="attr: { itemId: item.id, instanceId: item._id, href: item.href }, click: function(){ return false }">
							<img class="itemImage" data-bind="itemImageHandler: item.icon" style="padding: 2px; width:48px;">
						</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>