<%_.each(groups, function(items, key){ %>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= key %> Currently Selected: <%= items[0].getValue('MaxLightCSP') %></div>
	  <div class="panel-body" style="overflow-y:hidden; overflow-x:scroll; white-space:nowrap; width: 100%;">
		<table>
			<tr>
				<%_.each(items, function(item, index){ %>
					<td>
						<img class="itemImage" src="<%= item.icon %>" style="padding: 2px; border:1px solid <%= index == 0 ? 'green':'red' %>">	
					</td>
				<%}) %>
			</tr>
			<tr>
				<%_.each(items, function(item, index){ %>
					<td>
						<%= item.getValue('MaxLightCSP') %>/<%= Math.round((item.getValue('MaxLightCSP') / tgd.DestinyMaxCSP[item.bucketType]) * 100) %>%
					</td>
				<%}) %>
			</tr>
		</table>
	  </div>
	</div>
<%}) %>
<table class="table table-striped table-hover ">
	<tbody>
		<tr>
			<td>Combined Stat Points</td>
			<td>672 Points</td>
		</tr>
		<tr>
			<td>Stat Tiers</td>
			<td>T5 Int T5 Dis T1 Str</td>
		</tr>
		<tr>
			<td>Stat Values</td>
			<td>306 Int 300 Dis 67 Str</td>
		</tr>
		<tr>
			<td>Projected Light Level</td>
			<td>320</td>
		</tr>
		<tr>
			<td>Current Light Level</td>
			<td>307</td>
		</tr>
	</tbody>
</table>