<div id="container_<%= id %>">
	<p>
		What you see below you is the gear with the <strong>highest potential to reach tier 
		<span class="label label-default" data-bind="text: tgd.maxTierPossible">{11}</span> at <span class="label label-default" data-bind="text: tgd.DestinyLightCap">{320}</span> Light Level</strong>.
		From the <strong class="label label-success">selected</strong> items the <span class="label label-default" data-bind="text: unleveledBucketTypes">{Helmets, Boots, Chest}</span> are still not 
		<span class="label label-default" data-bind="text: tgd.DestinyLightCap">{320}</span>, once infused to <span class="label label-default" data-bind="text: tgd.DestinyLightCap">{320}</span> light level 
		you will be able to achieve the following stat distributions listed below.<br>
		This tool is meant as a planner to help guide you in finding what gear to invest your time and resources in infusing to achieve your desirable stat distributions.
	</p>
	<div>
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Score</th>
		      <th>Stats</th>
		      <th>Tiers</th>
			  <th>Perks</th>
		    </tr>
		  </thead>		  
		  <tbody data-bind="foreach: { data: bestSets, as: 'combo' }"
		    <tr>
		      <td><input type="Button" class="btn btn-sm" value="View"></td>
		      <td data-bind="text: combo.score"></td>
		      <td data-bind="text: combo.statValues"></td>
		      <td data-bind="text: combo.statTiers"></td>
			  <td>
				<div class="col-xs-24" style="margin-top: 5px" data-bind="foreach: { data: combo.perks, as: 'perk' }">
					<div class="col-xs-24 font-smaller-1">
						<img width="24" data-bind="attr: { src: perk.iconPath }" class="perkImage"> 
						<span class="text-muted" data-bind="text: perk.bucketType"></span>:
						<span class="text-primary" data-bind="text: perk.name"></span>
					</div>
				</div>
			  </td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div data-bind="foreach: { data: armorGroups, as: 'armor' }">
		<div class="panel panel-default">
		  <div class="panel-heading"><span data-bind="text: armor.bucketType"></span> </div>
		  <div class="panel-body" style="overflow-y:hidden; overflow-x:scroll; white-space:nowrap; width: 100%;">
				<div class="row" data-bind="foreach: { data: armor.items, as: 'item' }">
					<div class="col-xs-4">
						<a class="itemLink" data-bind="css: item.css2, attr: { itemId: item.id, instanceId: item._id, href: item.href }, click: select">
							<img class="itemImage" data-bind="itemImageHandler: item.icon, css: item.css" style="padding: 2px;">
						</a>						
					</div>
				</div>
				<div class="row" data-bind="foreach: { data: armor.items, as: 'item' }">
					<div class="col-xs-4">
						<span data-bind="text: item.getValue('MaxLightCSP')"></span> / <span data-bind="text: item.getValue('MaxLightPercent')"></span>%
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>	