<div id="menu">
    <div class="panel list-group">
        <div class="list-group-item row">
            <div class="item-name col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p>Normalize: equally distribute
                    <%= item.description %> across the selected characters</p>
            </div>
            <div class="item-name col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p>Consolidate: Transfer all quantities of
                    <%= item.description %> across the selected characters to this character.</p>
            </div>
        </div>
        <div id="opt1" class="collapse in">
            <div class="list-group-item row">
                <div class="locations col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="move-button col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="attkIcon">
                            <!-- <div class="icon-banner"><%= item.description %></div> -->
                            <img src="<%= item.icon %>" style="width:100%">
                            <div class="lower-left" id="total">
                                <%= total %>
                            </div>
                        </div>
                    </div>
                    <div class="move-button col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <!-- padding -->
                    </div>
                    <% for (i = 0; i < characters.length; i++){ %>
                        <div class="move-button col-xs-4 col-sm-4 col-md-4 col-lg-4" id="char<%= i %>">
                            <div class="attkIcon">
                                <div class="icon-banner">
                                    <%= characters[i].classType() %>
                                </div>
                                <% if (selected[characters[i].id] == true){ %>
                                    <img src="<%= characters[i].icon() %>" style="border:3px solid yellow; width:100%;" id="char<%= i %>img">
                                    <% } else { %>
                                        <img src="<%= characters[i].icon() %>" style="border:none; width:100%;" id="char<%= i %>img">
                                        <% } %>
                                            <div class="lower-left">
                                                <%= characters[i].classLetter() %>
                                            </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>