<div id="container_<%= id %>">
    <div class="panel list-group">
        <div class="list-group-item row">
            <div class="item-name col-xs-24 col-sm-24 col-md-24 col-lg-24">
                <p data-bind="text: description">
                </p>
            </div>
        </div>
        <div id="opt1" class="collapse in">
            <div class="list-group-item row">
                <div class="locations col-xs-24 col-sm-24 col-md-24 col-lg-24">
                    <div class="move-button col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <!-- padding -->
                    </div>
					<div data-bind="foreach: { data: characters, as: 'character' }">
						<div class="move-button col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="attkIcon" data-bind="click: $root.setSelectedCharacter.bind(character)">
                                <div class="icon-banner" data-bind="text: character.classType()"></div>
								<img data-bind="itemImageHandler: character.icon, style: { border: '2px solid ' + ($root.selectedCharacters().indexOf(character) > -1 ? 'yellow':'white')}">
								<div class="lower-left" data-bind="text: character.classLetter()"></div>
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>