<div class="destt-stat">
    <% Object.keys(stats).forEach(function(key){ if ( keys.indexOf(key) == -1 ){ return } %>
        <div class="stat-bar">
            <div class="stat-bar-label" style="color: <%= bonusStatOn == key ? 'white' : 'Khaki'  %>">
                <%= key %>
            </div>
			<div class="stat-bar-static-value">
				<%= _.map(rolls, function(roll){ return $('<span><span></span></span>').find("span").css({ color: roll.bonusOn !== bonusStatOn ? "Khaki" : "White" }).html(roll[key]).parent().html();  }).join('-') %>
			</div>
			<div class="stat-bar-empty text-left" style="display: <%= ['Magazine'].indexOf(key) == -1 ? 'block' : 'none'  %>">
				<div class="stat-bar-fill" style="width:<%=  Math.round((_.findWhere(rolls, { bonusOn: key })[key] / maxCSP) * 100) - ((stats[key] / maxCSP) * 100) %>%; left: <%= Math.round((stats[key] / maxCSP) * 100) %>%; position: absolute; background-color: Khaki; display:inline-block;"><%= _.findWhere(rolls, { bonusOn: key })[key] %></div>
				<div class="stat-bar-fill text-center" style="width:<%= Math.round((stats[key] / maxCSP) * 100) %>%; display:inline-block; z-index: 10;"><%= stats[key] %></div>
			</div>
			<div class="stat-bar-value">				
				<%=  (primaryValues.Default < tgd.DestinyLightCap) ? _.map(futureRolls, function(roll){ return $('<span><span></span></span>').find("span").css({ color: roll.bonusOn !== bonusStatOn ? "Khaki" : "White" }).html(roll[key]).parent().html();  }).join('-') : ''  %>
			</div>
        </div>
    <% }) %>
	<div>
		<span style="color:Khaki">Inactive</span> / <span style="color:white">Active</span>
	</div>
</div>