<div class="destt-stat">
    <% Object.keys(stats).forEach(function(key){ %>
        <div class="stat-bar">
            <div class="stat-bar-label">
                <%= key %>
            </div>
			<div class="stat-bar-static-value" style="display: <%= ['Magazine'].indexOf(key) > -1 ? '' : 'none'  %>">
				<%= stats[key] %>
			</div>
			<div class="stat-bar-empty" style="display: <%= ['Magazine'].indexOf(key) == -1 ? '' : 'none'  %>">
				<div class="stat-bar-fill" style="width:<%= stats[key] %>%"></div>
			</div>
			<div class="stat-bar-value" style="display: <%= ['Magazine'].indexOf(key) == -1 ? '' : 'none' %>">
				<%= stats[key] %>
			</div>
        </div>
        <% }) %>
</div>