<p>Tip: You may click on a swap item to cycle through alternative replacements. </p>
<ul class="list-group">
    <% swapArray.forEach(function(pair){ %>
        <li class="list-group-item">
            <div class="row">
                <div class="text-center col-xs-24 col-sm-24 col-md-24 col-lg-12">
                    <%= pair.description %>
                </div>
                <div class="text-right col-xs-10 col-sm-10 col-md-10 col-lg-4"><a class="item" href="<%= pair.targetItem && pair.targetItem.href %>"><img class="itemImage" src="<%= (pair.targetItem && pair.targetItem.icon) || pair.targetIcon %>"></a></div>
                <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="<%= pair.actionIcon %>">
                </div>
                <div class="text-left col-xs-10 col-sm-10 col-md-10 col-lg-4"><a class="swapItem item" href="<%= pair.swapItem && pair.swapItem.href %>" instanceid="<%= pair.swapItem && pair.swapItem._id %>"><img class="itemImage" src="<%= (pair.swapItem && pair.swapItem.icon) || pair.swapIcon %>"></a></div>
            </div>
        </li>
        <% }) %>
</ul>