<div class="fhtt des des-item">
    <div class="destt-cont">
        <div class="destt-title destt-bg-<%= item.tierType %>" style="background-image:url(<%= tgd.dataDir + item.icon %>)">
            <h2 class="destt-has-icon">Party Crasher +1</h2>
            <h3 class="destt-title-quality">Legendary</h3>
            <h3 class="destt-has-icon">Shotgun</h3>
            <div class="clearfix"></div>
        </div>
        <div class="destt-desc">
            I said INVITE ONLY!
        </div>
        <div class="destt-info">
            Type:
            <span>
                <%= unescape(item.itemTypeName) %>
            </span>,
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="destt-right"></div>
    <div class="destt-bottomright"></div>
    <div class="destt-bottom"></div>
</div>