Version:
<%= tgd.version %>
    <br>
    <ul>
        <li>3.9.3.7 - Fixed Share URL, added search filter for loadouts, fixed a browser bug preventing pages from loading.</li>
		<li>3.9.3.6 - Added Age of Triumph items to the database.</li>
        <li>3.9.3.5 - Patched two items missing in the database marked as Classified to show up under Artifacts.</li>
        <li>3.9.3.4 - Added the new The Dawning event holiday items.</li>
        <li>3.9.3.3 - Fixed Superblack shader not showing in the invetory.</li>
		<li>3.9.3.2 - Fix for Chrome to address new API change causing error 'Origin header does not match the provided API key'</li>
        <li>3.9.3.1 - Clicking on the DTR/DDB buttons will now link to the item and the associated perks</li>
        <li>3.9.3.1 - Added a new button called Perks in the move popup that allows the perk tree to be viewed</li>
        <li>3.9.3.1 - Added the Festival of the Lost items to the database</li>
        <li>3.9.2.10 - Enabled the Add Vendor Items button under the Custom tool to analyze Vendor Rolls</li>
        <li>3.9.2.9 - Fixed certain Quests appearing under Primary to show up in the right section.</li>
        <li>3.9.2.8 - Added Outbreak Prime to the item database.</li>
        <li>3.9.2.7 - Added new missing shaders The Ointment, Sparklepony and Stolen Chalice.</li>
        <li>3.9.2.7 - Removed Ornament indicator from the tooltip</li>
        <li>3.9.2.7 - Added a filter "Keys" under general for all key related items</li>
        <li>3.9.2.7 - Added a yellow bar on top of the emblem indicating the percent to the next Light Level.</li>
		<li>3.9.2.6 - Fixed a problem with the Iron Lord Artifacts not being considered when using Max Light</li>
        <li>3.9.2.5 - Disabled 'Add Vendor Items' button under Custom tools until Bungie enables the API again.</li>
        <li>3.9.2.5 - Added a new filter under General to show only locked items or unlocked items</li>
        <li>3.9.2.5 - Farm Mode now continues working until all sections in Vault are full</li>
        <li>3.9.2.5 - Fixed a problem with emblem images not loading when updated automatically.</li>
        <li>3.9.2.4 - Updated emblem icon to fit better in the nameplate panel</li>
        <li>3.9.2.3 - Updated lock icon so it's easier to see</li>
        <li>3.9.2.3 - Added the Ornaments section which includes Chroma and Ornaments</li>
		<li>3.9.2.2 - Fixed missing shader Barrier Ethos, readjusted armor ratings again until more information is acquired</li>
		<li>3.9.2.1 - Increased max light level to 385, updated armor rating to reflect new values</li>
		<li>3.9.2.1 - Updated definitions to include all the new Rise of Iron items</li>
        <li>3.9.2.0 - Fixed a problem with loadouts not showing the saved General items</li>
        <li>3.9.2.0 - Updated definitions to include all the latest items available</li>
        <li>3.9.1.3 - Added a temporary fix to 'Sign in to Continue' bug for mobile devices</li>
		<li>3.9.1.2 - Added Chroma Colors, Rep Boosters to the General search list, now sorting items in the list.</li>	
		<li>3.9.1.2 - Loadouts created using the Armor Set Builder will now be automatically saved under Loadouts for that character.</li>
		<li>3.9.1.2 - Moved the right side double down arrow to the left side emblem icon for opening the stats tool.</li>
		<li>3.9.1.2 - Fixed a problem with certain filters not properly resetting when Clear Filters was used.</li>
		<li>3.9.1.2 - Improved Light button under Tools to avoid transferring higher light items available on that character.</li>
		<li>3.9.1.2 - Improved unequip algorithm to sort by light and CSP when finding a replacement.</li>
		<li>3.9.1.1 - Improved input recognizer for items, added a triple tap action that behaves the same way as the hold functionality.</li>
		<li>3.9.1.1 - Fixed an issue with transfers when Armsday Orders were held in that character</li>
		<li>3.9.1.0 - Updated app to include the new Destiny 2.3.0 patch changes</li>
		<li>3.9.0.11 - Improved French translation text thanks to InvyNexus</li>
		<li>3.9.0.10 - Improved item tooltips for armor and weapons</li>
		<li>3.9.0.10 - Improved performance and run time for Top 3 and Character buttons thanks to /u/Mistral75</li>
		<li>3.9.0.10 - Improved stat infusion prediction algorithm with the the latest work thanks to /u/cornman0101</li>
		<li>3.9.0.10 - Improved Tools section to include the ability to control what armor is included from all characters</li>
		<li>3.9.0.8 - Added a new Report under the Menu titled Vendor Armor Rolls which updates itself regularly with details on the latest gear sold in the Tower</li>
		<li>3.9.0.8 - Changed default sorting from Tier, Type to Tier, Type and then Light.</li>
		<li>3.9.0.8 - Fixed a problem with Loadouts not maintaining their order after a change is made</li>
		<li>3.9.0.8 - Fixed a problem with Farm Mode not automatically transferring newly acquired loot to the vault upon refresh.</li>
		<li>3.9.0.8 - Improved the Custom button to allow for adding of existing items in other characters</li>
		<li>3.9.0.8 - Improved the stat roll prediction tooltip to include a range of possible values the armor might reach once infused.</li>
		<li>3.9.0.7 - Improved the armor stat infusion predictions, and tooltip quality indicator to be more accurate.</li>
		<li>3.9.0.7 - Improved the Manage Loadouts popup to include the ability to control the order of your loadouts.</li>
		<li>3.9.0.7 - Fix for the Missing Perks filter not working properly.</li>
		<li>3.9.0.7 - Fixed the tooltips for all Quest items not loading at all.</li>
		<li>3.9.0.7 - Fix for Custom/T12 Build popup buttons not saving properly.</li>
		<li>3.9.0.5 - Fixed perks not showing correctly when the layout was set to List View.</li>	
		<li>3.9.0.5 - Improved response time when switching between different Views.</li>
		<li>3.9.0.5 - Improved handling of Materials and Consumables during and after transfer.</li>
		<li>3.9.0.5 - Fix for Vendor Armor tooltip duplicates not displaying properly.</li>
		<li>3.9.0.4 - Changed the layout of the stats tool (double down arrow) for each character to be more mobile friendly.</li>
		<li>3.9.0.1 - Revamped the Help guide so it's divided into sections and it's easier to understand.</li>
		<li>3.9.0.1 - Including The Speaker class items and Exotic Armor blueprints when adding Vendor Armor in the Custom button.</li>
		<li>3.9.0.1 - Inactive and unselected perks are now indexed and searchable.</li>
		<li>3.9.0.1 - Improved transfers so unequip sorts by light level then stat points when deciding what to replace.</li>
		<li>3.9.0.1 - Updated the menu bar to include all the Settings into it's own popup.</li>
		<li>3.8.9.13 - The Custom button now allows you to manually add custom items to the tool.</li>
		<li>3.8.9.12 - Vendor Armor stat rolls can now be queried under the Custom tool for each character.</li>
		<li>3.8.9.12 - Fixed a problem when the Weapon filter was set to All.</li>
		<li>3.8.9.12 - Improved the Share URL with friends to include stat roll information for the armor.</li>
		<li>3.8.9.11 - Improved auto updater to be more reliable with downloading the updates.</li>
		<li>3.8.9.10 - Updated help text with more information regarding stat rolls.</li>
		<li>3.8.9.10 - Improved the layout of the Optimized Equipped Gear list to include stat abbreviations.</li>
		<li>3.8.9.10 - Changed the color quality indicator to be 97% for green minimum.</li>
		<li>3.8.9.10 - Confirm transfer input is now focused on value for quick change</li>
		<li>3.8.9.9 - Added an option to easily optmize your stat distribution for your currently equipped gear.</li>
		<li>3.8.9.8 - Fixed a bug in Max Tier where the best combo found wasn't being selected.</li>
		<li>3.8.9.8 - Updated infusion prediction algorithm to calculate stats at max light level more accurately.</li>
		<li>3.8.9.8 - Added new controls to the Custom layout to find the best armor sets more quickly.</li>
		<li>3.8.9.8 - Improved the armor corner stat to include the stat roll background color in the default view.</li>
		<li>3.8.9.6 - Improving Farm Mode controls so it's more mobile friendly</li>
		<li>3.8.9.3 - Completed entering the bonus stat information so that the stat roll indicators will now be more accurate</li>
		<li>3.8.9.1 - Improved the Stat Roll tooltip to indicate what stats a Light Level 3 item will have after an infusion</li>
		<li>3.8.8 - Updated app with the new April Update changes (more Vault space, new items added, new Light Level, new max stats)</li>
		<li>3.8.7.9 - Added the ability to filter by stat type (int/dis/str) from the Armor drop down.</li>
		<li>3.8.7.7 - Introducing a new Custom button under the Stat Tools to explore all possible armor combinations.</li>
		<li>3.8.7.6 - Fixed a problem where the Save button for Loadouts would sometimes not function properly.</li>
		<li>3.8.7.6 - Login prompt will now display on mobile once credentials become invalid from Bungie.</li>
		<li>3.8.7.6 - Improved the layout of the Max Tier popup.</li>
		<li>3.8.7.5 - Fix for Quick/Full button to ensure multiple exotics aren't used</li>
		<li>3.8.7.4 - Added new borders for Loadouts and Manage Loadouts to indicate whether to toggle the stat on or off.</li>
		<li>3.8.7.4 - Added the ability to save the stat configuration to a Loadout when using the Armor Builder tools.</li>
		<li>3.8.7.3 - Adding a new feature under Loadouts called Manage to quickly view and edit all your loadouts.</li>
		<li>3.8.7.1 - Fix for the Progress filter not working properly.</li>
		<li>3.8.7 - Introducing a new button in the stats tool called Max Tier to help plan a max light max tier armor build.</li>
		<li>3.8.7 - Added a visual indicator to the stats tool button to ensure it can be found and used.</li>
		<li>3.8.6.6 - Replaced the sort by Damage Type with sorting by Type, then Light Level.</li>
		<li>3.8.6.4 - Added the ability to save calculated combos as Loadouts</li>
		<li>3.8.6.3 - Fixed navbar menu button not responding</li>
		<li>3.8.6.2 - Improved Best Combo buttons to avoid making additional API requests for all the stats information</li>
		<li>3.8.6.1 - Fixed a bug with broken item images when not locally cached and used in Loadouts.</li>
		<li>3.8.6 - Farm mode now transfers items back to characters ordered by rarity first.</li>
		<li>3.8.6 - Improved tooltips to include stat bars on armor and weapons</li>
		<li>3.8.5.13 - Fixed a problem with tooltips that was causing them to load slowly.</li>
		<li>3.8.5.11 - Fixed a problem for certain items that was causing the tooltip to not display all the available stats</li>
		<li>3.8.5.11 - Improved tooltips to reflect the proper Stat Roll values even if the item is not yet leveled</li>
		<li>3.8.5.10 - Updated Help text to include information about the Tier stats available in stats tool.</li>
		<li>3.8.5.10 - Added an indicator for max csp for max light gear in the stat tools display.</li>
		<li>3.8.5.10 - Improved Armor tooltips with "Stat Rolls" details, check out Help for more info.</li>
		<li>3.8.5.9 - Added two buttons "BCF" and "BCO" next to Most Points, check out Help for more info.</li>
		<li>3.8.5.8 - Improved Help section in the Best Combo with more information.</li>
		<li>3.8.5.6 - The rocket launcher Truth now properly reflects the true magazine size and rockets per pack</li>
		<li>3.8.5.4 - Improved tooltips to display the amount of Rockets per Heavy Ammo pack in PVP including equipped armor into the calculation</li>
		<li>3.8.5.4 - Improved tooltips to display the stat bar and the min/max values inline</li>
		<li>3.8.5.4 - Rocket Launchers with Tripod now display a Magazine size of 3 in the tooltips</li>
		<li>3.8.5.3 - Added a Compare button that utilizes DestinyTracker's Compare tool when viewing multiple items with multi-select mode.</li>
		<li>3.8.5.1 - Fixed a problem with Max Light button when no exotics are available for that character.</li>
		<li>3.8.5.1 - Added two new search types under General for Glimmer Buffs and Glimmer Credit items.</li>
		<li>3.8.5.1 - Improved Farm Mode so that you may change the active character that receives the farm materials.</li>
		<li>3.8.5 - Updated the Cordova platform to the latest version available</li>
		<li>3.8.4.1 - Updated the Guardian.GG links so it properly redirects you to your profile</li>
		<li>3.8.4.1 - Changed Best Combo to only analyze armor found within that character except for Ghosts across all characters</li>
		<li>3.8.4.1 - Fixed an issue when attempting to equip an item, prompted to swap, only a transfer happens requiring a manual equip action</li>
		<li>3.8.4 - Added Crimson Doubles event items (Shaders, Ghost Shells)</li>
		<li>3.8.3 - Fixed a problem with error code 20 when the login credential was no longer valid</li>
		<li>3.8.2.9 - You may now filter Best Combo builds for the item you want by using hold tap</li>
		<li>3.8.2.8 - Updated input library to the newest version with various fixes</li>
		<li>3.8.2.7 - Stat display now properly shows the skill icons</li>
		<li>3.8.2.6 - Fixed notification popups to properly display below the menu bar</li>
		<li>3.8.2.3 - Multiple options are now available for every combo displayed in the pop up dialog</li>
		<li>3.8.2.1 - Improved controls, fixed the play/stop button not showing up, checkboxes can now be selected by tapping on the label</li>
		<li>3.8.2 - Introducing a new Farm Mode with more controls</li>
		<li>3.8.1.6 - Improved Best Combo layout, added new sorting options under View by Tier, Light and Tier, Name</li>
		<li>3.8.1.5 - Fixed a problem with the recent changes with View Options.</li>
		<li>3.8.1.4 - Fixed a problem with Farm Mode and Gunsmith Test Weapons.</li>
		<li>3.8.1.3 - Fixed a transfer issue that would occur when the vault is full.</li>
		<li>3.8.1.2 - Fixed View Options and Best Combo feature bugs.</li>
		<li>3.8.1.0 - Improved View Options by setting the Vault to full width when MD or SD are 3 columns.</li>
		<li>3.8.0.32 - Added Class initials to the bottom left of the QuickScroll icons when viewed on mobile or low resolution displays</li>
		<li>3.8.0.31 - Added DestinyTracker as a quick look up option for items along side DestinyDB and Bungie's Armory.</li>
		<li>3.8.0.30 - Updated Farm Mode to include unlocked and decrypted Rare, Uncommon items when transferring to the Vault.</li>
		<li>3.8.0.20 - Setting the View Options to 3 columns for LG and Vault position to last will now create a full width Vault section.</li>
		<li>3.8.0.10 - Ghosts and Artifacts are now shown when View is set to General or Armor.</li>
		<li>3.8.0.9 - The Best Combo button will now consider alternative stats when calcuating best armor sets, added new border color to images to indicate stat status.</li>
		<li>3.8.0.8 - Added a new feature 'Farm Mode' that will automatically transfer Engrams, Network Keys, House Banners, etc to the Vault</li>
		<li>3.8.0.7 - Added the ability to look up the item in DestinyDB and Bungie Armory from within the move pop up</li>
		<li>3.8.0.6 - Added a View Format option under View to switch between the default Image Grid and a new Item List format.</li>
		<li>3.8.0.3 - Fixed a problem with Max Light button not considering certain legendaries in specific situations.</li>
		<li>3.8.0.2 - Added a new stat to armor tooltips displaying the total skill points and maximum points possible.</li>
		<li>3.8.0 - Cleaning up the project, improved various translation sections, fixed a few minor bugs</li>
		<li>3.7.9.3 - Stats window for each character now auto closes after selecting a button</li>
		<li>3.7.8.5 - Bug fixes for the stat tools, pop up buttons, and loadouts for materials</li>
		<li>3.7.8.3 - Added relevant perks to Best Combo view for each build, added feedback for loading process, fixed a refresh bug</li>
		<li>3.7.8.2 - Revamped the layout of Best Combo to include more stats, display the items as icons, mobile friend for hold to show the tooltips</li>
        <li>3.7.8 - Improved the time it takes to log in (orange bar) for mobile devices</li>
        <li>3.7.7.2 - Improved the character stats display with additional information such as Tier level for each skill</li>
        <li>3.7.7 - Optimized a major set of the code to be more efficient and memory friendly to fix the crashes on loading</li>
        <li>3.7.6.15 - Added 3 new alternative reports under Settings for viewing your profile online using DestinyTracker, Guardian.GG, and DestinyTrials</li>
        <li>3.7.6.14 - Improved tooltips for low resolution devices to better scale and position the tooltip box</li>
        <li>3.7.6.13 - Fixed a problem with loadouts when using a class item with the perk Life Exotic</li>
        <li>3.7.6.12 - Fixed a problem that would prevent the app from refreshing when the emblem was clicked</li>
        <li>3.7.6.9 - Optimizing templates and layouts to reduce memory usage and improved translation text.</li>
        <li>3.7.6.7 - Optimized the 'Best Combo' button so it should be somewhat faster in calculating the different armor builds.</li>
        <li>3.7.6.6 - Fixed a problem with initial loading of profiles for certain desktop platforms</li>
        <li>3.7.6.5 - Fixed a problem with loadouts that would prevent a transfer when the destination didn't already have an existing item of that type</li>
        <li>3.7.6.2 - Improved the layout for the help text when transferring items</li>
        <li>3.7.6.1 - Fixed the Equip with Highest buttons lost styles</li>
        <li>3.7.6 - Updated Help text to include new options added recently</li>
        <li>3.7.5.13 - Thanks to Korben85 for providing improved German translations.</li>
        <li>3.7.5.12 - Improved the Armor drop down with new labels for existing filters and new views for light level and stats.</li>
        <li>3.7.5.8 - Improved toaster notifications by reducing the amount of notifications during a refresh, adjusting the position when it's shown, and tweaked the delay for various messages</li>
        <li>3.7.5.7 - Various fixes for the tooltip perks, stats and display for certain SRL gear.</li>
        <li>3.7.5.5 - Added an option to consolidate from the Extras menu for Consumables</li>
        <li>3.7.5.4 - Added a new set of filters to Armor dropdown including filtering armor by weapons equipped, the subclass equipped and the character class type.</li>
        <li>3.7.4.1 - Fixed a problem with loading when Auto Updater was enabled for certain desktop platforms</li>
        <li>3.7.4.0 - Restructured the way the Tower Ghost loads for certain desktop platforms</li>
        <li>3.7.1.2 - Removed image loading code until a better solution can be implemented</li>
        <li>3.7.0.7 - Improved app performance by only loading the item images when they are within view</li>
        <li>3.7.0.5 - Fixed the top left button "TGD" to properly display the What's New section</li>
        <li>3.7.0.4 - Fixed tooltips perks not showing in all platforms</li>
        <li>3.7.0.3 - Tooltips will now scale better for mobile devices</li>
        <li>3.7.0.2 - Fixed iPad landscape start up issue</li>
        <li>3.7.0.1 - Fixed broken tooltips after new Bungie update</li>
        <li>3.7.0.0 - Updated database to the latest Bungie definitions</li>
        <li>3.6.8.8 - Improved tooltips to ensure they always load including remote data issue</li>
        <li>3.6.8.7 - Fixes for an improved Auto Refresh setting</li>
        <li>3.6.8.6 - Further optimizing Tower Ghost to reduce file sizes and loading times</li>
        <li>3.6.8.5 - Equip Best Combo is now sorted by highest available tiers descending</li>
        <li>3.6.8.3 - Improved the auto updates download event from notifications to a dedicated loading bar</li>
        <li>3.6.8.2 - Mobile tweak to prevent user from being able to select/highlight text when holding it down</li>
        <li>3.6.8.1 - Added the Horn bucket to the General view right below Sparrow</li>
        <li>3.6.8 - Updated definitions to include the new Sparrow Racing League items</li>
    </ul>