Version:
<%= tgd.version %>
    <br>
    <ul>
        <li>3.7.0.0 - Updated database to the latest Bungie definitions</li>
        <li>3.6.8.8 - Improved tooltips to ensure they always load including remote data issue</li>
        <li>3.6.8.7 - Fixes for an improved Auto Refresh setting</li>
        <li>3.6.8.6 - Further optimizing Tower Ghost to reduce file sizes and loading times</li>
        <li>3.6.8.5 - Equip Best Combo is now sorted by highest available tiers descending</li>
        <li>3.6.8.3 - Improved the auto updates download event from notifications to a dedicated loading bar</li>
        <li>3.6.8.2 - Mobile tweak to prevent user from being able to select/highlight text when holding it down</li>
        <li>3.6.8.1 - Added the Horn bucket to the General view right below Sparrow</li>
        <li>3.6.8 - Updated definitions to include the new Sparrow Racing League items</li>
        <li>3.6.7.2 - Improved the swap pop up to allow the Transfer button to be activated with the Enter key</li>
        <li>3.6.7 - Fixed a problem in 3.6.6.x where auto updates weren't working properly</li>
        <li>3.6.6.6 - Equip with highest light will not change currently equipped gear if it's the same light level</li>
        <li>3.6.6.4 - Fixed a problem where images not stored in local cache wouldn't load remotely</li>
        <li>3.6.6.1 - Fixed a problem with Ghost shells and transfers</li>
        <li>3.6.6 - Optimized project to reduce loading times, file sizes and auto update download times</li>
        <li>3.6.5.6 - Improved Set filter to include Year 1 and Year 2 items</li>
        <li>3.6.5.4 - Fixed a transfer bug that would happen when the vault became full.</li>
        <li>3.6.5.3 - Added "TTK Items" to the Set drop down to be able to filter only Y2 items</li>
        <li>3.6.5.2 - Updated Help documentation to make sure it's up to date with all the latest information</li>
        <li>3.6.5.1 - Equip with Highest "Best Combo" now allows you to select from multiple builds of the highest tiers</li>
        <li>3.6.3 - Adjusted the portrait layout for certain devices to display one column</li>
        <li>3.6.2 - Auto Updater is now more reliable, please disable and enable to ensure latest version</li>
        <li>3.6.1.4 - Improved updater to provide feedback during download process</li>
        <li>3.6.1.3 - Fixed a problem with tooltips when Auto Updated for desktop platforms</li>
        <li>3.6.1.2 - Improved the refresh for characters so that a notification is displayed during the process</li>
        <li>3.6.1.1 - Added the Refer a Friend reward items to the definitions</li>
        <li>3.6.1 - Fixed the logic for Equip with Highest to also take into consideration the exotic faction class items</li>
        <li>3.6.0.6 - Added the ability to use the search box to filter by light level, use &gt;300 or &lt;300 for filtering by range</li>
        <li>3.6.0.5 - Added the ability to filter by Engrams from the General filter</li>
        <li>3.6.0.4 - Fixed an issue with the with the analytics code</li>
        <li>3.6.0.3 - Updated sets to include No Time to Explain for Exotic Weapons</li>
        <li>3.6.0 - Introducing 4 digit version numbers for auto updates</li>
        <li>3.5.9 - Fixed consumables not working on single tap</li>
        <li>3.5.8 - Fixed characters not loading after the Bungie 11/17 update</li>
        <li>3.5.7 - Fixed the search box resetting the app</li>
        <li>3.5.6 - Fixed the Progress Missing Perks filter for Weapons</li>
    </ul>