@-ms-viewport {
  width: device-width;
}
body {
	font-size: 1em;
    margin: 0 auto;
    padding-top: 55px;
    background: radial-gradient(transparent,70%,#000) fixed,rgb(105, 125, 123);
    background: radial-gradient(transparent,70%,#000) fixed,url(https://www.bungie.net/img/theme/destiny/bgs/gradient_green.jpg) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.loadout-button {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: #5b6e6c;
    border: 2px solid rgba(245,245,245,.6);
    border-bottom: 4px solid rgba(245,245,245,.6);
    color: rgba(245,245,245,.6);
    vertical-align: top;
    text-align: center;
    margin: 5px 0;
    line-height: 39px;
    padding: 0;
    cursor: pointer;
}
.loadout-button .active { background-color: #628e89 }
#loadout-popup {
    display: none;
    background-color: #5b6e6c;
    border-bottom: 2px solid rgba(245,245,245,.6);
    color: rgba(245,245,245,.6);
    margin-bottom: 10px;
    width: 260px;
    position: absolute;
    left: -220px;
    z-index: 2;
    cursor: pointer;
}
.desktop .move-popup {
    position: absolute;
    z-index: 2;
    top: -75px;
    width: 380px;
    height: 75px;
    background-color: rgba(21,13,13,1);
    cursor: default;
}
.move-popup .item-name {
    color: #000;
	background-color: white;
    margin: 1px;
    padding: 1px;
    padding-left: 3px;
}
.move-popup .attkIcon div { background-color: white; text-transform: uppercase; padding:1px; width:3em; }
.col-centered { float:none; margin:0 auto; }
.locations img { max-width: 97%; }
#loadout-create {
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    background: rgba(195,188,180,.9);
    color: #1a1e24;
    box-shadow: 0 -1px 30px 2px #000;
}
#loadout-options { margin: 5px }
#loadout-options input { width: 150px }
#loadout-options span, #loadout-contents span {
    display: inline-block;
    width: 65px;
    border-radius: 3px;
    background-color: #5b6e6c;
    cursor: pointer;
    color: rgba(245,245,245,.6);
    text-align: center;
    vertical-align: middle;
}
#loadout-options p {
  display: inline;
  padding-left: 10px;
}
#loadout-list .loadout-set:hover,
#loadout-new:hover,
#loadout-options span:hover { background-color: #628e89 }
.loadout-set .button-name {
  display: inline-block;
  width: 150px;
}
.loadout-set .button-edit, .loadout-set .button-delete {
    background-color: rgba(195,188,180,.9);
    color: #1a1e24;
    float: right;
    width: 50px;
    border-right: 1px solid rgba(195,188,180,.7);
    border-left: 1px solid rgba(195,188,180,.9);
}
.loadout-set .button-delete:hover, .loadout-set .button-edit:hover {
    background-color: rgba(195,188,180,.6);
}

.bucket-item {
    padding: 1px !important;
}

.attkIcon {
	position: relative;
}
.attkIcon > div {
	position: absolute;
	bottom: 1px;
	left: 1px;
	color: #333;
	font-weight: bold;
	font-size: 0.8em;
    line-height: 1;
    padding: 2px 3px;
}

.complete .attkIcon > div {
    bottom: 2px;
    left: 2px;
}

.bucket-item a {
    display: block;
    padding-top: 100%;
    position: relative;
}

.sections .itemImage {
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.itemImage {
    border: 2px solid white;
}
.doEquip {
	border:2px solid blue !important;
}

#loadout-contents .itemImage {
	max-width: 97%;
}
#loadout-contents .item {
	position: relative;
}
#loadout-contents input {
	position: absolute;
	left: 5px;
}

.list-group-item .itemImage {
	width: 48px;
}

.itemImage {
}

.itemBucket {
  /* border: 1px solid white; */
  background: rgba(255,255,255,.1);
}

.icon { width: 24px; }
.title {
    text-transform: uppercase;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
  /* border-bottom: 2px solid rgba(245,245,245,.6); */
    font-size: 15px;
    font-weight: 500;
    color: rgba(245,245,245,.6);
  background: rgba(0,0,0,.2);
  padding-left: 5px;
}
.complete .itemImage { border-color: #f5dc56; }
.navbar-brand { font-size: 0.8em }
.nav > li > a { padding: 10px; }
.character-box {
    position: relative;
    display: inline-block;
    height: 43px;
    padding: 0 0 0 50px;
    margin: 5px 0;
    opacity: 1;
    background: rgba(30,36,43,.5);
    color: #f5f5f5;
    text-decoration: none;
    background-size: cover;
}
.character-box .emblem {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 39px;
    height: 39px;
    background-color: rgba(0,0,0,.2);
    background-size: cover;
}
.character-box .class {
    text-transform: capitalize;
    position: relative;
    display: block;
    top: 9px;
    font-size: 24px;
    font-weight: 400;
}
.character-box .level {
    position: absolute;
	color: rgb(245, 220, 86);
    top: 8px;
    right: 7px;
    font-weight: 200;
    font-size: 22px;
}
.character-box .level:before {
    content: "\2726";
    display: inline-block;
    vertical-align: 18%;
    font-size: 50%;
}
.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#loadout-options .move-button {
    background-size: cover;
    width: 40px;
    height: 40px;
	padding-top: 40px;
    text-align: center;
    line-height: 10px;
    float: left;
    margin: 6px;
    cursor: pointer;
}
#loadout-options .move-loadout {
	float: none !important;
	display: inline-block !important;
}
#loadout-options .move-button span {
    display: inline-block;
    text-transform: uppercase;
    background: rgba(0,0,0,.4);
    line-height: 40px;
    width: 100%;
    height: 100%;
	font-size: 0.9em;
}
#loadout-options .move-button span:hover { background: rgba(0,0,0,.1) }
.label { white-space: normal; }
.alert {
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
li a { color: #3080CF }
.Subclasses { min-height: 0px !important; }
.lockIcon { position: relative; }
.lockIcon img { position: absolute; }
.quickScrollView { position: relative; top:5px; left:5px; display:none; }
/* 960 px is the breakpoint for 4 columns */
@media (max-width: 959px) { 
	.quickScrollView { display: inline }
}